@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; } 

.themaWrap * { font-family: 'GmarketSansMedium'; } 
.themaWrap { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_bg.jpg) #fff top no-repeat; } 
.themaWrap .innerSection01 { position: relative; padding: 0 20px; max-width: 1540px; height: 100%; margin: 0 auto; } 
.themaWrap .innerSection02 { position: relative; padding: 0 20px; max-width: 1040px; height: 100%; margin: 0 auto; } 
.themaWrap img { object-fit: cover; height: inherit; } 
.themaWrap strong { font-family: 'GmarketSansBold'; } 

.f34 { font-size: 34px; } 
.f30 { font-size: 30px; } 
.f26 { font-size: 26px; } 
.f24 { font-size: 24px; } 
.f23 { font-size: 23px; } 
.f22 { font-size: 22px; } 
.f20 { font-size: 20px; } 
.f18 { font-size: 18px; } 
.f16 { font-size: 16px; } 
.f14 { font-size: 14px; } 
.fcPurple { color: #7867ff; } 



.themaWrap .mainVisual { padding-top: 86px; margin-bottom: 100px; } 
.themaWrap .mainVisual .tit { text-align: center; } 
.themaWrap .mainVisual .tit p { width: 146px; height: 74px; position: relative; margin: 0 auto 12px; padding-top: 10px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_bubble.png) no-repeat; color: #551cc5; font-family: 'GmarketSansBold'; font-size: 30px; text-align: center; } 
.themaWrap .mainVisual .tit strong { display: inline-block; color: #fffe00; font-size: 55px; text-shadow: 0 6px 0 #000; } 
.themaWrap .mainVisual .tit strong span { color: #fff; font-family: 'GmarketSansBold'; } 

.themaWrap .mainVisual .mainBox { position: relative; max-width: 728px; width: 100%; margin: 212px auto 0; background: #fff; text-align: center; box-shadow: 0px 0px 0 8px rgba(255, 255, 255, 0.1); border-radius: 40px; z-index: 1; } 
.themaWrap .mainVisual .mainBox::before { content: ''; width: 415px; height: 259px; position: absolute; top: -200px; left: 50%; transform: translateX(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_img01.png) no-repeat; z-index: -1; } 
.themaWrap .mainVisual .mainBox .title { padding: 24px; background: #fff; font-size: 26px; border-radius: 40px; } 
.themaWrap .mainVisual .mainBox .text { padding: 20px 30px; background: #e3e3e3; font-size: 17px; letter-spacing: -0.45px; border-radius: 0 0 40px 40px; word-break: keep-all; } 

.themaWrap .employmentInfo { margin-bottom: 260px; } 
.themaWrap .employmentInfo .tit { width: 441px; height: 50px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_img02.png) no-repeat; text-align: center; margin: 0 auto; } 
.themaWrap .employmentInfo .tit strong { display: inline-block; margin-top: -30px; color: #fff; } 
.themaWrap .employmentInfo .whiteBox { position: relative; padding: 50px 10px; background: linear-gradient(#d2d2f2,#fff 30%); box-shadow: 0px 0px 0 8px rgba(255, 255, 255, 0.1); border-radius: 30px; } 
.themaWrap .employmentInfo .whiteBox::before { content: ''; width: 341px; height: 157px; position: absolute; top: -157px; left: 90px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_img05.png) no-repeat; } 
.themaWrap .employmentInfo .whiteBox::after { content: ''; width: 341px; height: 157px; position: absolute; top: -157px; right: 90px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_img05.png) no-repeat; } 
.themaWrap .employmentInfo .whiteBox .itemWrap { display: flex; justify-content: center; flex-wrap: wrap; } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item { display: flex; align-items: center; position: relative; margin-right: 30px; z-index: 1; } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item.right { flex-direction:row-reverse; margin-right: 0; } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item .title { display: flex; align-items: center; justify-content: center; width: 120px; height: 120px; position: relative; margin-right: 52px; background: #fff; border: 2px solid #00b2f4; border-radius: 100%; text-align: center; box-shadow: 1px 2px 5px rgba(0,0,0,0.2); z-index: 1; } 
.themaWrap .employmentInfo .whiteBox .item::after { content: ''; width: 282px; height: 190px; position: absolute; left: 100px; top: 50%; transform: translateY(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_item01.png) no-repeat; z-index: -1; } 
.themaWrap .employmentInfo .whiteBox .item.item.right::after { left: unset; right: 100px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_item02.png) no-repeat; } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item.right .title { border: 2px dotted #672ed6; margin-right: 0; margin-left: 52px; } 
.themaWrap .employmentInfo .whiteBox .item strong { position: relative; color: #00b2f4; } 
.themaWrap .employmentInfo .whiteBox .item strong::before { content: ''; width: 50px; height: 5px; position: absolute; top: 50%; left: -65px; transform: translateY(-50%); background: #00b2f4; } 
.themaWrap .employmentInfo .whiteBox .item.right strong::before { height: 0; left: unset; right: -82px; background: transparent; border: 1px dashed #672ed6; } 
.themaWrap .employmentInfo .whiteBox .item.right strong { color: #672ed6; } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item ul li { display: flex; align-items: center; justify-content: center; width: 250px; height: 80px; margin-bottom: 10px; background: #00b2f4; color: #fff; box-sizing: border-box; border-radius: 50px; border: 3px solid #fff; text-align: center; letter-spacing: -1.5px; box-shadow: 1px 2px 5px rgba(0,0,0,0.2); } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item.right ul li { background: #672ed6; } 
.themaWrap .employmentInfo .whiteBox .itemWrap .item ul li:last-child { margin-bottom: 0; } 
.themaWrap .employmentInfo .whiteBox .infoBox { display: flex; justify-content: center; width: 100%; margin-top: 28px; text-align: center; } 
.themaWrap .employmentInfo .whiteBox .infoBox .infoItem { max-width: 346px; margin-right: 20px; padding: 28px 16px; border: 3px dotted #0095e2; } 
.themaWrap .employmentInfo .whiteBox .infoBox .infoItem strong { color: #0095e2; line-height: 1.2; } 
.themaWrap .employmentInfo .whiteBox .infoBox .infoItem.right strong { color: #672ed6; } 
.themaWrap .employmentInfo .whiteBox .infoBox .infoItem p { letter-spacing: -1px; } 
.themaWrap .employmentInfo .whiteBox .infoBox .infoItem.right { margin-right: 0; border-color: #672ed6; } 

.themaWrap .employmentReview { line-height: 1.3; } 
.themaWrap .employmentReview .tit { margin-bottom: 80px; text-align: center; } 
.themaWrap .employmentReview .tit strong { display: inline-block; position: relative; max-width: 440px; width: 100%; padding: 20px 14px; background: #fff; border: 1px solid #000; box-shadow: 6px 6px 0 #000; box-sizing: border-box; z-index: 1; } 
.themaWrap .employmentReview .tit strong::before { content: ''; width: 1156px; height: 176px; position: absolute; top: -240px; left: 50%; transform: translateX(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_img04.png) no-repeat; } 
.themaWrap .employmentReview .tit strong::after { content: ''; width: 398px; height: 205px; position: absolute; top: -206px; left: 50%; transform: translateX(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_img03.png) no-repeat; z-index: -1; } 
.themaWrap .employmentReview .contTit { position: relative; margin-bottom: 66px; text-align: center; z-index: 1; } 
.themaWrap .employmentReview .contTit::before { content: ''; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(- 50%); border: 2px dashed #d3d3d3; z-index: -1; } 
.themaWrap .employmentReview .contTit p { display: inline-block; position: relative; padding: 12px 20px 12px 60px; background: #d3d3d3; border-radius: 30px; word-break: keep-all; } 
.themaWrap .employmentReview .contTit p::before { content: ''; width: 30px; height: 43px; position: absolute; left: 20px; top: -10px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_mike.png) no-repeat; } 
.themaWrap .employmentReview .interviewInfo { display: flex; align-items: center; margin-bottom: 40px; } 
.themaWrap .employmentReview .interviewInfo .imgWrap { flex: 1; min-width: 230px; height: 164px; margin-right: 30px; border: 5px solid #857ffd; border-radius: 10px; overflow: hidden; } 
.themaWrap .employmentReview .interviewInfo .text { width: 100%; } 
.themaWrap .employmentReview .interviewInfo .text p { display: block; width: 384px; padding: 14px 20px 10px; margin-bottom: 20px; background: #857ffd; color: #fff; text-align: center; border-radius: 30px; } 
.themaWrap .employmentReview .interviewBox { padding: 30px 36px; margin-bottom: 40px; border: 1px solid #d8d8d8; border-radius: 20px; box-shadow: 1px 2px 5px rgba(0,0,0,0.1); } 
.themaWrap .employmentReview .interviewBox strong { display: inline-block; margin-bottom: 20px; } 
.themaWrap .employmentReview .interviewBox strong::before { content: ''; display: inline-block; padding-right: 12px; vertical-align: middle; } 
.themaWrap .employmentReview .interviewBox strong.icon01::before { width: 25px; height: 25px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon01.png) no-repeat; background-size: contain; } 
.themaWrap .employmentReview .interviewBox strong.icon02::before { width: 23px; height: 30px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon02.png) no-repeat; background-size: contain; } 
.themaWrap .employmentReview .interviewBox strong.icon03::before { width: 27px; height: 33px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon03.png) no-repeat; background-size: contain; } 
.themaWrap .employmentReview .interviewBox strong.icon04::before { width: 27px; height: 27px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon04.png) no-repeat; background-size: contain; } 
.themaWrap .employmentReview .interviewBox strong.icon05::before { width: 20px; height: 33px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon05.png) no-repeat; background-size: contain; } 
.themaWrap .employmentReview .interviewBox strong.icon06::before { width: 20px; height: 34px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon06.png) no-repeat; background-size: contain; } 
.themaWrap .employmentReview .interviewBox p { color: #575757; word-break: keep-all; } 

.themaWrap .employmentReview .reviewWrap { display: flex; align-items: center; margin-bottom: 70px; } 
.themaWrap .employmentReview .reviewWrap .text { width: 100%; text-align: center; } 
.themaWrap .employmentReview .reviewWrap .text > p { margin-top: 20px; margin-bottom: 40px; } 
.themaWrap .employmentReview .reviewWrap .imgWrap { min-width: 180px; margin-left: 34px; } 
.themaWrap .employmentReview .reviewWrap .review { display: flex; align-items: center; justify-content: center; } 
.themaWrap .employmentReview .reviewWrap .review p { position: relative; padding: 20px 28px 16px; margin-right: 28px; background: #fff; box-shadow: 1px 2px 5px rgba(0,0,0,0.2); } 
.themaWrap .employmentReview .reviewWrap .review p::before { content: ''; width: 59px; height: 86px; position: absolute; top: 50%; left: -38px; transform: translateY(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon07.png) no-repeat; } 
.themaWrap .employmentReview .reviewWrap .review span { color: #635bff; font-style: italic; } 

.themaWrap .participate { margin-bottom: 120px; } 
.themaWrap .participate .partiWrap { position: relative; padding: 48px 40px; background: #fff; border: 6px solid #cfcdff; border-radius: 30px; } 
.themaWrap .participate .partiWrap .partiBox { display: flex; align-items: flex-start; padding: 34px 30px; margin-bottom: 24px; background: #efefef; border: 1px solid #d6d6d6; border-radius: 20px; } 
.themaWrap .participate .partiWrap .partiBox:last-child { margin-bottom: 0; } 
.themaWrap .participate .partiWrap .imgWrap { margin-right: 10px; } 
.themaWrap .participate .partiWrap .imgWrap strong { display: block; width: 142px; position: relative; padding: 14px 26px 10px; background: #3d3d3d; color: #fff; border-radius: 30px; text-align: center; } 
.themaWrap .participate .partiWrap .imgWrap strong::before { content: ''; position: absolute; left: 50%; top: 80px; transform: translateX(-50%); } 
.themaWrap .participate .partiWrap .imgWrap strong.icon08::before { width: 75px; height: 78px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon08.png) no-repeat; } 
.themaWrap .participate .partiWrap .imgWrap strong.icon09::before { width: 81px; height: 73px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon09.png) no-repeat; } 
.themaWrap .participate .partiWrap .imgWrap strong.icon10::before { width: 73px; height: 86px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_interview_icon10.png) no-repeat; } 
.themaWrap .participate .partiBox .text div { display: flex; margin-bottom: 12px; word-break: keep-all; } 
.themaWrap .participate .partiBox .text div:last-child { margin-bottom: 0; } 
.themaWrap .participate .partiBox .text div:last-child strong { color: #5ef6ff; } 
.themaWrap .participate .partiBox .text strong { display: flex; align-items: center; justify-content: center; flex-shrink: 0; width: 58px; height: 58px; margin-right: 14px; background: #3d3d3d; color: #f2ff28; border-radius: 100%; } 
.themaWrap .participate .partiBox.way .text div { align-items: center; } 
.themaWrap .participate .partiBox.way .text ul { display: flex; } 
.themaWrap .participate .partiBox.way .text li { display: flex; align-items: center; justify-content: center; width: 108px; height: 108px; position: relative; margin-right: 16px; background: linear-gradient(#77c9f2,#898cf8); color: #fff; font-family: 'GmarketSansBold'; border: 2px solid #fff; border-radius: 100%; text-align: center; } 
.themaWrap .participate .partiBox.way .text li:last-child { margin-right: 0; } 
.themaWrap .participate .partiBox.way .text li::after { content: ''; width: 14px; height: 16px; position: absolute; top: 50%; right: -18px; transform: translateY(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_arrow.png) no-repeat; } 
.themaWrap .participate .partiBox.way .text li:last-child:after { content: none; } 
.themaWrap .participate .partiBox.way .text .right li { background: #fff; color: #000; border: 2px solid transparent; background-image:linear-gradient(#fff, #fff),linear-gradient(0deg, #77c9f2 0%, #898cf8 100%); background-origin: border-box; background-clip: content-box, border-box; } 
.themaWrap .btnWrap { margin-top: 50px; text-align: center; } 
.themaWrap .btnWrap a { display: inline-block; padding: 12px 30px; background: linear-gradient(to right, #7bff47,#f6ff00); color: #000; font-family: 'GmarketSansBold'; border: 1px solid #000; border-radius: 30px; box-shadow: 0 6px 0 #000; } 
.themaWrap .btnWrap.type01 { margin-top: 0; } 
.themaWrap .btnWrap.type01 a { position: absolute; left: 50%; bottom: -30px; transform: translateX(-50%); } 

.themaWrap .employmentGift { margin-bottom: 115px; } 
.themaWrap .employmentGift .tit { position: relative; margin-bottom: 100px; text-align: center; z-index: 1; } 
.themaWrap .employmentGift .tit::before { content: ''; width: 976px; height: 272px; position: absolute; top: -60px; left: 50%; transform: translateX(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_gift02.png) no-repeat; z-index: -1; } 
.themaWrap .employmentGift .giftWrap { text-align: center; } 
.themaWrap .employmentGift .giftWrap p { display: inline-block; padding: 10px 54px; margin: 50px 0; background: #f0f0f0; border: 2px dotted #000; border-radius: 30px; box-shadow: 0 6px 0 #000; } 
.themaWrap .employmentGift .giftWrap p span { color: #ff005a; font-family: 'GmarketSansBold'; } 
.themaWrap .employmentGift .giftList { display: flex; justify-content: space-between; } 
.themaWrap .employmentGift .giftList li { width: calc((100% - 72px) / 5); position: relative; padding: 10px 5px; margin-right: 18px; background: #fff; border: 1px solid #a160ff; border-radius: 20px; overflow: hidden; text-align: center; box-shadow: 1px 2px 5px rgba(0,0,0,0.2); z-index: 1; } 
.themaWrap .employmentGift .giftList li:last-child { margin-right: 0; } 
.themaWrap .employmentGift .giftList li::before { content: ''; width: 100%; height: 30px; position: absolute; top: 0; left: 0; background: #d6b9ff; z-index: -1; } 
.themaWrap .employmentGift .giftList li span { color: #8400ff; } 

.themaWrap .onlineEducation .educationWrap { position: relative; padding: 50px 50px 160px; background: #ffe2e2; border-radius: 30px; } 
.themaWrap .onlineEducation .educationWrap .eduPlus { position: absolute; top: -60px; left: 50%; transform: translateX(-50%); } 
.themaWrap .onlineEducation .educationWrap::before { content: ''; width: 859px; height: 134px; position: absolute; top: -134px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online01.png) no-repeat; } 
.themaWrap .onlineEducation .educationWrap::after { content: ''; width: 1002px; height: 152px; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online10.png) no-repeat; } 
.themaWrap .onlineEducation .educationWrap .tit { position: relative; margin-top: 50px; z-index: 10; } 
.themaWrap .onlineEducation .educationWrap .tit::before { content: ''; width: 499px; height: 267px; position: absolute; top: -20px; left: 36px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online03.png) no-repeat; } 
.themaWrap .onlineEducation .educationWrap .tit::after { content: ''; width: 1103px; height: 250px; position: absolute; top: -50px; left: -100px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online04.png) no-repeat; } 
.themaWrap .onlineEducation .educationWrap .tit > strong { position: absolute; top: 0; left: 0; font-size: 46px; color: #fff; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; transform: rotate(-10deg); z-index: 1; } 
.themaWrap .onlineEducation .educationWrap .tit > strong::before { content: '잡아바 온라인 교육이'; width: 100%; top: 3px; right: -3px; color: #000; position: absolute; z-index: -1; } 
.themaWrap .onlineEducation .educationWrap .tit > strong span { color: #79fff8; font-family: 'GmarketSansBold'; } 
.themaWrap .onlineEducation .educationWrap .tit .text { position: relative; display: inline-block; left: 50%; margin-top: 50px; transform: translateX(-20%); } 
.themaWrap .onlineEducation .educationWrap .tit .text p::before { content: ''; width: 135px; height: 104px; position: absolute; top: -15px; left: -144px;; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online05.png) no-repeat; } 
.themaWrap .onlineEducation .educationWrap .tit .text p { position: relative; color: #7867ff; font-size: 47px; font-family: 'GmarketSansBold'; } 
.themaWrap .onlineEducation .educationWrap .tit .text strong { position: relative; display: inline-block; margin-top: -20px; color: #fff; font-size: 50px; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; } 
.themaWrap .onlineEducation .educationWrap .tit .text strong::before { content: '알고 계신가요?'; width: 100%; top: 3px; right: -3px; color: #000; position: absolute; z-index: -1; } 
.themaWrap .onlineEducation .onlineWrap { display: flex; position: relative; padding: 52px 44px; margin-top: 46px; background: #fff; border-radius: 20px; box-shadow: 0px 0px 0 8px rgba(255, 255, 255, 0.4); } 
.themaWrap .onlineEducation .onlineWrap::before { content: ''; width: 163px; height: 186px; position: absolute; top: -186px; right: 0; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online09.png) no-repeat; } 
.themaWrap .onlineEducation .onlineWrap .onlineTit { margin-right: 44px; } 
.themaWrap .onlineEducation .onlineWrap .imgWrap { position: relative; margin-bottom: 100px; } 
.themaWrap .onlineEducation .onlineWrap .imgWrap::before { content: ''; width: 108px; height: 78px; position: absolute; left: 0; bottom: -90px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/thema_online07.png) no-repeat; } 

.themaWrap .onlineEducation .onlineWrap .onlineBox .onlineItem { padding: 35px 25px; background: #ecf1ff; border-radius: 20px; } 
.themaWrap .onlineEducation .onlineWrap .onlineBox .onlineCourse li { display: flex; align-items: center; } 
.themaWrap .onlineEducation .onlineWrap .onlineBox .onlineCourse li::before { content: ''; min-width: 23px; height: 21px; margin-right: 6px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_check.png) no-repeat; vertical-align: middle; word-break: keep-all; } 
.themaWrap .onlineEducation .onlineWrap .onlineBox p { padding: 14px 10px; margin: 24px 0 15px; background: #fff; border: 3px solid #5ae3cf; border-radius: 40px; text-align: center; } 
.themaWrap .onlineEducation .onlineWrap .onlineBox .onlineList { display: flex; justify-content: space-between; } 
.themaWrap .onlineEducation .onlineWrap .onlineBox .onlineList li { display: flex; justify-content: center; align-items: center; width: 100px; height: 88px; background: #fff; color: #7867ff; font-family: 'GmarketSansBold'; border: 3px solid #5ae3cf; border-radius: 20px; text-align: center; } 
.themaWrap .onlineEducation .onlineWrap .onlineBox .onlineImg { margin-top: 24px; text-align: right; } 

.themaWrap .freeCourse { margin-top: -80px; text-align: center; } 
.themaWrap .freeCourse .imgWrap { margin-bottom: 30px; } 
.themaWrap .freeCourse .courseList { display: flex; padding: 48px 42px; margin: 44px 0 75px; background: #f5f5f5; border-radius: 40px; text-align: center; } 
.themaWrap .freeCourse .courseList li { flex: 1; } 
.themaWrap .freeCourse .courseList span { display: flex; align-items: center; justify-content: center; width: 110px; height: 110px; margin: 0 auto 20px; background: #fff; border: 3px solid #9577e1; border-radius: 100%; } 
.themaWrap .freeCourse .courseList span::before { content: ''; display: flex; } 
.themaWrap .freeCourse .courseList span.couse01::before { width: 47px; height: 42px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_course01.png) no-repeat; } 
.themaWrap .freeCourse .courseList span.couse02::before { width: 47px; height: 44px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_course02.png) no-repeat; } 
.themaWrap .freeCourse .courseList span.couse03::before { width: 47px; height: 40px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_course03.png) no-repeat; } 
.themaWrap .freeCourse .courseList span.couse04::before { width: 47px; height: 47px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_course04.png) no-repeat; } 
.themaWrap .freeCourse .courseList span.couse05::before { width: 53px; height: 43px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_course05.png) no-repeat; } 
.themaWrap .freeCourse .courseList span.couse06::before { width: 47px; height: 44px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/230327/icon_course06.png) no-repeat; } 
.themaWrap .freeCourse .courseList li strong { color: #672ed6; } 

.themaWrap .btnWrap.type02 { height: 100px; background: #eeeeee; } 
.themaWrap .btnWrap.type02 a { margin-top: -20px; } 

@media all and (max-width:1500px){
 .themaWrap .employmentInfo .whiteBox::before,
 .themaWrap .employmentInfo .whiteBox::after { content: none; } 
 }
@media all and (max-width:1160px){
 .themaWrap .employmentReview .tit strong::before { content: none; } 
 }

@media all and (max-width:1024px){
 .themaWrap .employmentInfo .whiteBox .item strong::before,
 .themaWrap .employmentInfo .whiteBox .item::after,
 .themaWrap .employmentGift .tit::before,
 .themaWrap .onlineEducation .educationWrap .tit::after,
 .themaWrap .onlineEducation .educationWrap::before,
 .themaWrap .onlineEducation .educationWrap::after { content: none; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item { flex-direction: column; width: calc((100% - 10px ) / 2); margin-right: 10px; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item.right { flex-direction: column; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item .title { margin-right: 0; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item.right .title { margin-left: 0; } 

 .themaWrap .onlineEducation .educationWrap { padding: 50px 50px 40px; } 
 .themaWrap .freeCourse { margin-top: 0; } 

 .themaWrap .participate .partiWrap .partiBox { flex-direction: column; } 
 .themaWrap .participate .partiWrap .imgWrap { margin-right: 0; width: 100%; } 
 .themaWrap .participate .partiWrap .imgWrap strong { width: 100%; margin-bottom: 20px; } 
 .themaWrap .participate .partiWrap .imgWrap strong::before { content: none; } 
 .themaWrap .participate .partiBox.way .text strong { margin-right: 0; margin-bottom: 20px; } 
 .themaWrap .participate .partiBox.way .text { display: flex; width: 100%; justify-content: space-evenly; } 
 .themaWrap .participate .partiBox.way .text ul { flex-direction: column; } 
 .themaWrap .participate .partiBox.way .text div { flex-direction: column; } 
 .themaWrap .participate .partiBox.way .text li { margin-right: 0; margin-bottom: 20px; } 
 .themaWrap .participate .partiBox.way .text li::after { top: auto; bottom: -20px; left: 50%; transform: translateX(-50%) rotate(90deg); } 
 }
@media all and (max-width:860px){
 .themaWrap .onlineEducation .educationWrap { padding: 30px 20px 40px; } 
 .themaWrap .onlineEducation .educationWrap .tit::before { content: none; } 
 .themaWrap .onlineEducation .educationWrap .tit > strong { display: block; position: static; font-size: 32px; transform: none; } 
 .themaWrap .onlineEducation .onlineWrap::before { width: 124px; top: -140px; background-size: contain; } 
 .themaWrap .onlineEducation .educationWrap .tit .text p::before { width: 100px; top: 3px; left: -105px; background-size: contain; } 
 .themaWrap .onlineEducation .educationWrap .tit .text { position: static; margin-left: 100px; margin-top: 20px; transform: none; } 
 .themaWrap .onlineEducation .educationWrap .tit .text p { font-size: 36px; } 
 .themaWrap .onlineEducation .educationWrap .tit .text strong { margin-top: -10px; font-size: 38px; } 
 .themaWrap .onlineEducation .onlineWrap { flex-direction: column; padding: 30px 20px; } 
 .themaWrap .onlineEducation .onlineWrap .imgWrap::before { content: none; } 
 .themaWrap .onlineEducation .onlineWrap .onlineTit { margin-bottom: 20px; display: flex; justify-content: center; } 
 .themaWrap .onlineEducation .onlineWrap .imgWrap { margin-bottom: 0; } 
 .themaWrap .onlineEducation .onlineWrap .text { display: none; } 
 .themaWrap .participate .partiWrap { padding: 30px 20px; } 
 .themaWrap .participate .partiWrap .partiBox { padding: 26px 14px; } 
 .themaWrap .participate .partiBox.way .text li { width: 90px; height: 90px; } 
 }
@media all and (max-width:768px){
 .f34 { font-size: 28px; } 
 .f30 { font-size: 22px; } 
 .f26 { font-size: 18px; } 
 .f24 { font-size: 16px; } 
 .f23 { font-size: 16px; } 
 .f22 { font-size: 16px; } 
 .f20 { font-size: 14px; } 
 .f18 { font-size: 14px; } 
 .f16 { font-size: 14px; } 

 .themaWrap .mainVisual { padding-top: 40px; margin-bottom: 70px; } 
 .themaWrap .mainVisual .tit strong { font-size: 40px; word-break: keep-all; } 
 .themaWrap .mainVisual .mainBox { margin: 156px auto 0; } 
 .themaWrap .mainVisual .mainBox::before { width: 260px; top: -136px; background-size: contain; } 
 .themaWrap .mainVisual .tit p { width: 110px; margin: 0 auto 0; font-size: 20px; background-size: contain; } 
 .themaWrap .employmentInfo { margin-bottom: 130px; } 
 .themaWrap .employmentInfo .tit { width: 100%; background: none; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item .title { width: 84px; height: 84px; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item ul { width: 100%; } 
 .themaWrap .employmentInfo .whiteBox .itemWrap .item ul li { width: 100%; height: 60px; } 
 .themaWrap .employmentReview .tit strong::after { width: 260px; top: -135px; background-size: contain; } 

 .themaWrap .employmentReview .interviewInfo { flex-direction: column; } 
 .themaWrap .employmentReview .interviewInfo .imgWrap { margin-bottom: 20px; margin-right: 0; } 
 .themaWrap .employmentReview .interviewInfo .text { text-align: center; word-break: keep-all; } 
 .themaWrap .employmentReview .interviewInfo .text p { width: 100%; } 
 .themaWrap .employmentReview .interviewBox { margin-bottom: 20px; padding: 20px 20px; } 
 .themaWrap .employmentReview .reviewWrap .imgWrap { display: none; } 
 .themaWrap .employmentReview .reviewWrap .review { flex-direction: column; } 
 .themaWrap .employmentReview .reviewWrap .review p { margin-right: 0; margin-bottom: 20px; } 
 .themaWrap .employmentReview .reviewWrap .review p::before { width: 40px; height: 60px; background-size: contain; } 
 .themaWrap .employmentReview .reviewWrap { margin-bottom: 30px; } 
 .themaWrap .employmentReview .tit { margin-bottom: 48px; } 
 .themaWrap .employmentReview .contTit { margin-bottom: 40px; } 

 .themaWrap .employmentGift .tit { margin-bottom: 40px; } 

 .themaWrap .employmentGift .giftList { flex-wrap: wrap; justify-content: center; } 
 .themaWrap .employmentGift .giftList li { width: calc((100% - 36px) / 3); margin-bottom: 20px; } 
 .themaWrap .onlineEducation .onlineWrap .onlineBox .onlineList { flex-wrap: wrap; } 
 .themaWrap .onlineEducation .onlineWrap .onlineBox .onlineList li { width: calc((100% - 5px ) / 2); margin-bottom: 10px; } 
 .themaWrap .onlineEducation .onlineWrap::before { content: none; } 
 
 .themaWrap .freeCourse .courseList { flex-wrap: wrap; justify-content: space-between; } 
 .themaWrap .freeCourse .courseList li { width: calc((100% - 30px) / 3); flex: none; } 
 .themaWrap .freeCourse .courseList span { width: 90px; height: 90px; } 
 .themaWrap .btnWrap a { width: 100%; padding: 12px 10px; } 
 .themaWrap .btnWrap.type01 a { position: static; transform: none; } 
 }

@media all and (max-width:480px){
 .themaWrap .mainVisual .tit strong { font-size: 32px; } 
 .themaWrap .employmentGift .giftList li { width: calc((100% - 36px) / 2); } 
 .themaWrap .employmentGift .giftList li:nth-child(even) { margin-right: 0; } 
 .themaWrap .onlineEducation .educationWrap .tit > strong { font-size: 24px; } 
 .themaWrap .onlineEducation .educationWrap .tit .text p::before { width: 48px; left: -52px; } 
 .themaWrap .onlineEducation .educationWrap .tit .text p { font-size: 24px; } 
 .themaWrap .onlineEducation .educationWrap .tit .text { margin-left: 48px; } 
 .themaWrap .onlineEducation .educationWrap .tit .text strong { font-size: 24px; } 
 .themaWrap .freeCourse .courseList li { width: calc((100% - 10px) / 2); } 
 }