.themaWrap * { font-family: 'GmarketSans','Noto Sans KR'; font-weight: 500; line-height: 1.2; } 
.themaWrap .innerSection { max-width: 900px; margin: 0 auto; } 
.themaWrap .gBold {font-family: 'GmarketSans','Noto Sans KR'; font-weight: 700;}