.themaWrap * { font-family: 'OneMobile','Noto Sans KR' !important; font-weight: 300; line-height: 1.2; } 
.themaWrap .innerSection { max-width: 1000px; margin: 0 auto; } 
.banHa { font-family: 'BMHANNA11yrsold','Noto Sans KR' !important; } 
.prTen { font-family: 'Pretendard','Noto Sans KR' !important; } 

.fc01 { color: #569e7a; } 
.fc02 { color: #6347b3; } 
.fc03 { color: #7c522c; } 
.fc04 { color: #2858a4; } 
.fc05 { color: #20a4ac; } 
.bc01 { background: #c4f1da; } 
.bc03 { background: #f7d4af; } 
.bc04 { background: #e1e1e1; } 
.fw500 { font-weight: 500; } 
.fw700 { font-weight: 700; } 
.fs48 { font-size: 48px; } 
.fs36 { font-size: 36px; } 
.fs30 { font-size: 30px !important; } 
.fs16 { font-size: 16px; } 
.trt { text-align: right; } 

.themaWrap .mainVisual { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/main_bg.png) top center no-repeat; } 
.themaWrap .mainVisual .innerSection { padding: 130px 0 400px; position: relative; } 
.themaWrap .mainVisual .innerSection::after { content: ''; width: 445px; height: 344px; position: absolute; left: 50%; bottom: -30px; transform: translateX(-50%); background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/mian_img01.png) no-repeat; background-size: contain; } 
.themaWrap .mainVisual h2 { position: relative; text-align: center; } 
.themaWrap .mainVisual h2::after { content: '9월'; display: flex; width: 130px; height: 130px; position: absolute; bottom: 0; right: 0; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/main_icon01.png) no-repeat; color: #003281; font-size: 48px; font-family: 'BMHANNA11yrsold'; align-items: center; justify-content: center; } 

.themaWrap .cont01 { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont01_bg.png) bottom center #e7e7e7 no-repeat; } 
.themaWrap .cont01 .innerSection { padding: 110px 0 0; } 
.themaWrap .cont01 .whiteBox { padding: 60px 70px 40px; background: #fff; border-radius: 60px 60px 0 0; box-shadow: 0px 0px 50px 0px rgba(0, 106, 190, 0.15); text-align: center; } 
.themaWrap .cont01 .whiteBox strong { color: #003281; font-size: 60px; } 
.themaWrap .cont01 .whiteBox strong::before { content: ''; display: block; width: 80px; height: 60px; margin: 0 auto; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont01_img01.png) no-repeat; } 
.themaWrap .cont01 .whiteBox > p { margin-top: 40px; color: #003281; font-size: 32px; } 
.themaWrap .cont01 .whiteBox ul { display: flex; margin-top: 50px; justify-content: space-between; } 
.themaWrap .cont01 .whiteBox li { width: calc(100% / 3 - 10px); padding: 25px 15px 180px; border-radius: 30px 70px 30px 30px; } 
.themaWrap .cont01 .whiteBox li:nth-child(1) { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont01_img02.png) bottom center #a2e2c2 no-repeat; } 
.themaWrap .cont01 .whiteBox li:nth-child(2) { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont01_img03.png) bottom center #c8c3ef no-repeat; } 
.themaWrap .cont01 .whiteBox li:nth-child(3) { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont01_img04.png) bottom center #f7d4af no-repeat; } 
.themaWrap .cont01 .whiteBox li p { color: #000; font-size: 22px; } 
.themaWrap .cont01 .whiteBox li:nth-child(1) p,
.themaWrap .cont01 .whiteBox li:nth-child(2) p { line-height: 1.5; } 

.themaWrap .cont02 { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont02_bg.png) center #fff no-repeat; } 
.themaWrap .cont02 .innerSection { padding: 120px 0; } 
.themaWrap .contBox { margin-bottom: 100px; } 
.themaWrap .contBox .titWrap { text-align: center; } 
.themaWrap .contBox .titWrap h3 { margin-bottom: 30px; position: relative; color: #000; font-weight: bold; } 
.themaWrap .contBox .titWrap h3::before { content: ''; display: block; margin: 0 auto 38px; } 
.themaWrap .contBox .titWrap h3.icon01::before { width: 235px; height: 194px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/thema_tit01.png) no-repeat; background-size: contain; } 
.themaWrap .contBox .titWrap h3.icon02::before { width: 256px; height: 221px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/thema_tit02.png) no-repeat; background-size: contain; } 
.themaWrap .contBox .titWrap h3.icon03::before { width: 335px; height: 363px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/thema_tit03.png) no-repeat; background-size: contain; } 


.themaWrap .contBox .boxWrap { margin-top: 50px; padding: 50px 60px 40px; position: relative; border-radius: 30px; } 
.themaWrap .contBox .graph { display: flex; justify-content: space-between; } 
.themaWrap .contBox .boxItem { width: calc(50% - 10px); position: relative; } 
.themaWrap .contBox .boxItem .tit { min-height: 80px; margin-bottom: 10px; font-size: 36px; font-weight: 700; text-align: center; } 
.themaWrap .contBox .boxItem .imgWrap { padding: 20px 25px; position: relative; background: #fff; border-radius: 20px; text-align: center; } 
.themaWrap .contBox .boxItem .tag { display: flex; position: absolute; top: -30px; right: 10px; z-index: 1; } 
.themaWrap .contBox .boxItem .tag li { font-size: 14px; } 
.themaWrap .contBox .boxItem .tag li:nth-child(2) { margin-left: 10px; } 
.themaWrap .contBox .boxItem .tag li:nth-child(2)::before { background: #ff9936; } 
.themaWrap .contBox .boxItem .tag li::before { content: ''; display: inline-block; width: 14px; height: 14px; margin-right: 8px; background: #7d78eb; vertical-align: middle; } 
.themaWrap .contBox .etcBox { margin: 40px 0 50px; padding: 26px 20px; position: relative; background: #fff; border: 1px dashed #000; border-radius: 120px; font-size: 26px; line-height: 1.3; text-align: center; } 
.themaWrap .contBox .etcBox::after { content: ''; width: 105px; height: 91px; position: absolute; bottom: 10px; right: 30px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/etc_icon01.png) no-repeat; } 

.themaWrap .contBox .boxWrap.bc02 { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont2_bg02.png) top center #d5d1f3 no-repeat; } 
.themaWrap .contBox .whiteBox { margin: 0 50px; padding: 40px 80px; background: #fff; border-radius: 20px; } 
.themaWrap .contBox .whiteBox + .whiteBox { margin-top: 30px; } 
.themaWrap .contBox .whiteBox li + li { margin-top: 20px; } 
.themaWrap .contBox .whiteBox li strong { display: block; padding: 6px 0; margin-bottom: 10px; background: #ffd9e7; font-size: 24px; font-weight: 700; border-radius: 20px; text-align: center; } 
.themaWrap .contBox .whiteBox li .imgWrap { display: flex; align-items: center; } 
.themaWrap .contBox .whiteBox li .imgWrap p { width: 100%; padding: 40px 0; margin-left: 30px; color: #e93b79; font-size: 36px; font-weight: 700; border: 2px dashed #ffdce9; border-radius: 60px; text-align: center; } 
.themaWrap .contBox .whiteBox:nth-child(2) li strong { background: #ccdaf3; } 
.themaWrap .contBox .whiteBox:nth-child(2) li .imgWrap p { color: #4a78cc; border: 2px dashed #ccdaf3; } 
.themaWrap .boxWrap.bc02::before { content: ''; width: 121px; height: 217px; position: absolute; top: 10px; left: -200px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont_icon01.png) no-repeat; } 
.themaWrap .boxWrap.bc02::after { content: ''; width: 93px; height: 212px; position: absolute; bottom: 10px; right: -200px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont_icon02.png) no-repeat; } 

.themaWrap .contBox .boxWrap.bc03 .boxItem .tit { font-size: 30px; text-align: left; font-weight: 500; } 
.themaWrap .contBox .boxWrap.bc03 .boxItem .tit span { color: #7c522c; } 
.themaWrap .contBox .boxItem .imgWrap::before { content: ''; position: absolute; } 
.themaWrap .contBox .boxItem .imgWrap.icon01::before { width: 147px; height: 88px; top: -50px; right: 10px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/box_img01.png) no-repeat; background-size: contain; } 
.themaWrap .contBox .boxItem .imgWrap.icon02::before { width: 197px; height:102px; top: -80px; right: 10px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/box_img02.png) no-repeat; background-size: contain; } 
.themaWrap .contBox .boxItem .imgWrap.icon02 img { padding-top: 39px; } 

.themaWrap .contBox .titWrap.style01 { display: flex; margin: 0 50px 0 30px; position: relative; justify-content: space-between; align-items: flex-end; z-index: 2; } 
.themaWrap .contBox .titWrap.style01 p::after { content: ''; display: block; } 
.themaWrap .contBox .titWrap.style01 p.icon01::after { width: 235px; height: 191px; margin: 40px auto 0; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/box_img03.png) no-repeat; } 
.themaWrap .contBox .titWrap.style01 p.icon02::after { width: 327px; height: 228px; margin: 40px auto 0; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/box_img04.png) no-repeat; } 
.themaWrap .contBox .boxWrap.bc04 { margin-top: -40px; padding: 80px 60px 40px; } 

.themaWrap .contBox .etcBox ul { padding-left: 90px; } 
.themaWrap .contBox .etcBox li { position: relative; padding-left: 20px; font-size: 24px; font-weight: 700; text-align: left; } 
.themaWrap .contBox .etcBox li::before { content: ''; display: block; width: 10px; height: 10px; position: absolute; left: 0; top: 8px; background: #000; border-radius: 50%; } 
.themaWrap .contBox .etcBox li + li { margin-top: 10px; } 
.themaWrap .contBox .etcBox li span { display: block; margin-top: 20px; color: #0c8ca7; font-size: 18px; font-weight: 700; } 
.themaWrap .contBox .boxWrap.bc04 .etcBox::after { right: 100px } 

.themaWrap .cont03 { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont03_bg.png) no-repeat; } 
.themaWrap .cont03 .innerSection { padding: 120px 0 100px; } 
.themaWrap .title { margin: 0 100px; position: relative; } 
.themaWrap .title::after { content: ''; position: absolute; } 
.themaWrap .title.icon01::after { width: 187px; height: 168px; top: 50%; transform: translateY(-50%); right: 50px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont_tit_img01.png) no-repeat; } 
.themaWrap .title.icon02::after { width: 270px; height: 182px; top: 50%; transform: translateY(-50%); right: 50px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont_tit_img02.png) no-repeat; } 
.themaWrap .title.icon03::after { width: 239px; height: 179px; top: 50%; transform: translateY(-50%); right: 50px; background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont_tit_img03.png) no-repeat; } 
.themaWrap .linkList { display: flex; margin: 50px 70px 0; justify-content: space-between; } 
.themaWrap .linkList li { width: calc(50% - 20px); position: relative; background: #fff; border-radius: 20px; overflow: hidden; } 
.themaWrap .linkList li .linkItem { padding: 40px 30px 70px; } 
.themaWrap .linkList li .linkItem strong { display: block; margin-bottom: 20px; font-size: 24px; text-align: center; font-weight: 700; } 
.themaWrap .linkList li .linkItem .imgWrap { margin-bottom: 20px; text-align: center;} 
.themaWrap .linkList li .linkItem span { display: inline-block; padding: 4px 15px; margin-bottom: 10px; background: #dadada; color: #232323; font-size: 16px; font-weight: 500; border-radius: 20px; } 
.themaWrap .linkList li .linkItem p { color: #232323; font-size: 18px; } 
.themaWrap .linkList li .linkBtn { width: 100%; position: absolute; left: 0; bottom: 0; background: #e2e2e2; } 
.themaWrap .linkList li .linkBtn a { display: block; padding: 15px 20px; text-align: right; } 
.themaWrap .linkList li .linkBtn a span { color: #232323; font-size: 16px; font-weight: 700; } 
.themaWrap .cont04 { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont04_bg.png) no-repeat; } 
.themaWrap .cont04 .innerSection { padding: 120px 0 100px; } 
.themaWrap .cont05 { background: url(https://cdn.jsdelivr.net/gh/chaebonggi/jobaba2023/html/thema/resource/images/thema/231113/cont05_bg.png) no-repeat; } 
.themaWrap .cont05 .innerSection { padding: 120px 0 100px; } 


@media all and (max-width:1400px){
 .themaWrap .boxWrap.bc02::before,
 .themaWrap .boxWrap.bc02::after { content: none; } 
 }

@media all and (max-width:1024px){
 .themaWrap .mainVisual .innerSection { padding: 130px 10px 400px; position: relative; } 
 .themaWrap .mainVisual h2::after { content: none; } 
 .themaWrap .cont01 .innerSection { padding: 110px 10px 0; } 
 .themaWrap .cont01 .whiteBox { padding: 60px 20px 40px; } 
 .themaWrap .cont02 .innerSection { padding: 120px 10px; } 
 .themaWrap .contBox .whiteBox { margin: 0; } 
 }

@media all and (max-width:860px){
 .themaWrap .mainVisual .innerSection { padding: 50px 10px 200px; } 
 .themaWrap .mainVisual .innerSection::after { width: 250px; height: 193px; } 
 .themaWrap .mainVisual h2 img { transform: scale(0.8); } 
 .themaWrap .cont01 .whiteBox ul { flex-direction: column; } 
 .themaWrap .cont01 .whiteBox li { width: 100%; } 
 .themaWrap .cont01 .whiteBox li + li { margin-top: 20px; } 

 .themaWrap .cont02 .innerSection { padding: 60px 10px; } 
 .themaWrap .contBox .boxWrap { padding: 50px 20px 40px; } 
 .themaWrap .contBox .graph { flex-direction: column; } 
 .themaWrap .contBox .boxItem { width: 100%; } 
 .themaWrap .contBox .boxItem + .boxItem { margin-top: 20px; } 
 .themaWrap .contBox .etcBox::after { content: none; } 
 .themaWrap .contBox .whiteBox li .imgWrap { flex-direction: column; } 
 .themaWrap .contBox .whiteBox li .imgWrap p { padding: 20px 0; margin-left: 0; margin-top: 20px; } 
 .themaWrap .contBox .boxWrap.bc03 .boxItem .tit { text-align: center; } 
 .themaWrap .contBox .etcBox { border-radius: 20px; word-break: keep-all; } 
 .themaWrap .contBox .titWrap.style01 p.icon01::after,
 .themaWrap .contBox .titWrap.style01 p.icon02::after { content: none; } 
 .themaWrap .contBox .titWrap.style01 { flex-direction: column; margin: 0; align-items: center; } 
 .themaWrap .contBox .boxWrap.bc04 { margin-top: 50px; padding: 40px 20px 40px; } 
 .themaWrap .contBox .etcBox ul { padding-left: 0; } 
 .themaWrap .cont03,
 .themaWrap .cont04,
 .themaWrap .cont05 { background-size: cover; } 
 .themaWrap .cont03 .innerSection,
 .themaWrap .cont04 .innerSection,
 .themaWrap .cont05 .innerSection { padding: 60px 10px 100px; } 
 .themaWrap .title.icon01::after,
 .themaWrap .title.icon02::after,
 .themaWrap .title.icon03::after { content: none; } 
 .themaWrap .title img { transform: scale(0.7); } 
 .themaWrap .linkList { flex-direction: column; margin: 50px 0 0; align-items: center; } 
 .themaWrap .linkList li { width: 100%; max-width: 400px; } 
 .themaWrap .linkList li + li { margin-top: 20px; } 
 .themaWrap .linkList li .linkBtn a { text-align: center; } 
 }

 @media all and (max-width:640px){
 .fs48 { font-size: 22px; } 
 .fs30 { font-size: 16px !important; } 
 .fs16 { font-size: 12px; } 
 .trt { text-align: center; } 
 .themaWrap .mainVisual .innerSection { padding: 30px 10px 100px; } 
 .themaWrap .mainVisual .innerSection::after { width: 150px; height: 116px; } 
 .themaWrap .cont01 .innerSection { padding: 50px 10px 0; } 
 .themaWrap .cont01 .whiteBox { padding: 30px 20px 30px; border-radius: 30px 30px 0 0; } 
 .themaWrap .cont01 .whiteBox strong::before { width: 40px; height: 30px; background-size: contain; } 
 .themaWrap .cont01 .whiteBox strong { font-size: 24px; } 
 .themaWrap .cont01 .whiteBox > p { margin-top: 20px; font-size: 14px; word-break: keep-all; } 
 .themaWrap .cont01 .whiteBox ul { margin-top: 20px; } 
 .themaWrap .cont01 .whiteBox li { padding: 25px 15px 130px; } 
 
 .themaWrap .cont01 .whiteBox li p { font-size: 14px; } 
 .themaWrap .cont01 .whiteBox li:nth-child(1),
 .themaWrap .cont01 .whiteBox li:nth-child(2),
 .themaWrap .cont01 .whiteBox li:nth-child(3) { background-size: 50%; } 
 .themaWrap .contBox { margin-bottom: 30px; } 
 .themaWrap .contBox .titWrap h3 { margin-bottom: 10px; } 
 .themaWrap .contBox .titWrap p { word-break: keep-all; } 
 .themaWrap .contBox .titWrap h3::before { margin: 0 auto 10px; } 
 .themaWrap .contBox .titWrap h3.icon01::before { width: 120px; height: 99px; } 
 .themaWrap .contBox .titWrap h3.icon02::before { width: 130px; height: 112px; } 
 .themaWrap .contBox .titWrap h3.icon03::before { width: 150px; height: 163px; } 
 .themaWrap .contBox .boxWrap { margin-top: 20px; padding: 20px 10px; } 
 .themaWrap .contBox .boxItem .tit { min-height: auto; font-size: 18px; } 
 .themaWrap .contBox .boxItem .tag { position: static; margin-bottom: 10px; justify-content: flex-end; } 
 .themaWrap .contBox .boxItem .tag li { font-size: 10px; } 
 .themaWrap .contBox .boxItem .tag li::before { width: 10px; height: 10px; margin-right: 4px; } 
 .themaWrap .contBox .etcBox { margin: 20px 0 20px; padding: 15px 15px; font-size: 14px; } 
 .themaWrap .contBox .whiteBox { padding: 40px 20px; } 
 .themaWrap .contBox .whiteBox li strong { font-size: 16px; } 
 .themaWrap .contBox .whiteBox li .imgWrap p { padding: 10px 0; font-size: 20px; border-radius: 10px; } 
 .themaWrap .contBox .boxItem .imgWrap.icon01::before,
 .themaWrap .contBox .boxItem .imgWrap.icon02::before { content: none; } 
 .themaWrap .contBox .boxWrap.bc03 .boxItem .tit { font-size: 16px; } 
 .themaWrap .contBox .boxWrap.bc04 { margin-top: 20px; padding: 20px 20px; } 
 .themaWrap .contBox .etcBox li::before { width: 4px; height: 4px; top: 4px; } 
 .themaWrap .contBox .etcBox li { padding-left: 8px; font-size: 12px; } 
 .themaWrap .contBox .etcBox li span { margin-top: 10px; font-size: 10px; } 
 .themaWrap .cont02 .innerSection { padding: 30px 10px; } 
 .themaWrap .cont03 .innerSection, .themaWrap .cont04 .innerSection, .themaWrap .cont05 .innerSection { padding: 30px 10px; } 
 .themaWrap .title { margin: 0; } 
 .themaWrap .linkList { margin: 20px 0 0; } 
 .themaWrap .linkList li .linkItem strong { margin-bottom: 10px; font-size: 16px; } 
 .themaWrap .linkList li .linkItem span { margin-bottom: 5px; font-size: 12px; } 
 .themaWrap .linkList li .linkItem p { font-size: 14px; } 
 }