.themaWrap * { font-family: 'GmarketSans','Noto Sans KR' !important; font-weight: 500; line-height: 1.3; } 
.themaWrap .innerSection { max-width: 1000px; margin: 0 auto; } 
.gBold { font-weight: 700; } 
.oneMo { font-family: 'OneMobile','Noto Sans KR' !important; font-weight: 700; } 
.themaWrap .fc01 { color: #dd7920; } 
.themaWrap .fc02 { color: #2b7571; } 
.themaWrap .fc03 { color: #3b6195; } 
.themaWrap .fc04 { color: #524ea5; } 


.themaWrap .cont05 { position: relative; background: url(../resource/images/thema/231215/cont05_bg.png) top center no-repeat;} 
.themaWrap .cont05 .innerSection { padding: 100px 0 240px; } 
.themaWrap .cont05 .cTit { text-align: center; } 
.themaWrap .cont05 .cTxt { margin-bottom: 60px; color: #fff; font-size: 40px; text-align: center; line-height: 1.5; letter-spacing: -1px; } 
.themaWrap .cont05 .linkList { display: flex; margin: 0 30px; justify-content: space-between; flex-wrap: wrap; gap: 80px 60px; } 
.themaWrap .cont05 .linkList li { width: calc(100% / 2 - 30px); box-sizing: border-box; } 
.themaWrap .cont05 .linkList li a:hover { transform: scale(1.1); } 
.themaWrap .cont05 .linkList li a { display: block; width: 100%; height: 100%; padding: 34px 22px 40px; position: relative; border-radius: 20px; text-align: center; transition: all 0.35s; } 
.themaWrap .cont05 .linkList li:nth-child(1) a { background: url(../resource/images/thema/231215/cont05_list01.png) bottom 20px right 20px #f6f0c8 no-repeat; border: 5px solid #ffe19a; } 
.themaWrap .cont05 .linkList li:nth-child(2) a { background: url(../resource/images/thema/231215/cont05_list02.png) bottom 10px right 10px #d4f9f7 no-repeat; border: 5px solid #a9d6d4; } 
.themaWrap .cont05 .linkList li:nth-child(3) a { background: url(../resource/images/thema/231215/cont05_list03.png) bottom -4px right #d0eef9 no-repeat; border: 5px solid #afdaea; } 
.themaWrap .cont05 .linkList li:nth-child(4) a { background: url(../resource/images/thema/231215/cont05_list04.png) bottom 36px right 10px #dee4f7 no-repeat; border: 5px solid #bfc9eb; } 
.themaWrap .cont05 .linkList li strong { color: #003281; font-size: 36px; letter-spacing: -1.4px; } 
.themaWrap .cont05 .linkList li .txt { margin-top: 10px; color: #000; font-size: 24px; text-align: left; line-height: 1.4; letter-spacing: -0.5px; text-shadow: 0 0 0; } 
.themaWrap .cont05 .linkList li .linkBtn { width: 100%; position: absolute; left: 0; bottom: -25px; } 
.themaWrap .cont05 .linkList li .linkBtn p { display: flex; max-width: 200px; width: 100%; height: 50px; padding-top: 6px; margin: 0 auto; background: #fff; color: #000; font-size: 18px; align-items: center; justify-content: center; border-radius: 30px; box-sizing: border-box; } 
.themaWrap .cont05 .linkList li:nth-child(1) .linkBtn p { border: 5px solid #ffe19a; } 
.themaWrap .cont05 .linkList li:nth-child(2) .linkBtn p { border: 5px solid #a9d6d4; } 
.themaWrap .cont05 .linkList li:nth-child(3) .linkBtn p { border: 5px solid #afdaea; } 
.themaWrap .cont05 .linkList li:nth-child(4) .linkBtn p { border: 5px solid #bfc9eb; } 
