.eventWrap .innerSection { max-width: 1000px; margin: 0 auto; } 

.eventWrap .fcRed { color: rgb(255, 18, 18); } 
.eventWrap .tlt {text-align: left !important;}
.eventWrap .memberWrap .memberTit {margin-bottom: 30px;font-size: 20px;text-align: center; } 

.eventWrap .memberWrap { max-width: 1000px; padding: 50px 60px; border: 1px solid #ececec; box-shadow: 0 1px 2px rgba(191, 191, 191, 0.2); } 

.eventWrap .comCheckbox input[type="checkbox"] { display: none; } 
.eventWrap .memberAgree {margin-bottom: 30px; } 
.eventWrap .comCheckbox label {display: flex;align-items: center;cursor: pointer;padding-left: 26px;position: relative;min-height: 32px;user-select: none; } 
.eventWrap .comCheckbox input[type="checkbox"] + label::before {content: '';width: 14px;height: 14px;position: absolute;left: 0;top: 8px;border:2px solid #ddd; } 
.eventWrap .comCheckbox input[type="checkbox"]:checked + label::after {content: ""; width: 4px; height: 10px; position: absolute; top: 10px; left: 6px; border: 2px solid; border-left: 0; border-top: 0; transform: rotate(45deg); color: #fff; } 
.eventWrap .comCheckbox input[type="checkbox"]:checked + label::before {background: #0f70d2; border-color: #0f70d2; } 
.eventWrap .comCheckbox p {margin-left: 28px; margin-top: 10px;font-size: 14px; color: #888888; line-height: 22px; } 
.eventWrap .memberInfo { margin-bottom: 50px; } 
.eventWrap .memberInfo .field { display: block; border-bottom: 1px solid #dddddd; margin-bottom: 25px; } 
.eventWrap .memberInfo li:last-child .field { margin-bottom: 0; } 
.eventWrap .memberInfo .field label { display: block; font-weight: 500; color: #000; font-size: 16px; } 
.eventWrap .memberInfo .field input { padding: 10px 0; border:0; font-size:16px; text-indent: 0; width: 100%; } 
.eventWrap .memberInfo .field input::placeholder { color: #cccccc; } 

.eventWrap .memberWrap .etc {margin-bottom: 20px;color: #888888;font-size: 14px;text-align: center; } 
.eventWrap .memberWrap .etc strong {color: #000; font-size: 16px;}
.eventWrap .memberWrap .comBtn { width: 100%; display: block; margin-top: 30px; padding: 15px; background: #38BAB2; color: #fff; font-size: 18px; font-weight: 400; border-radius: 5px; border: 0; } 


@media all and (max-width: 640px) {
    .eventWrap .memberWrap {
		padding: 30px 20px;
	}
}