@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; } 

.eventWrap * { font-family: 'GmarketSansMedium'; } 
.eventWrap strong { font-family: 'GmarketSansBold'; } 
.eventWrap .innerSection { position: relative; max-width: 812px; margin: 0 auto; } 
.eventWrap .fcPink { color: #ff5273; } 

.eventWrap .eventMain {padding: 85px 0 100px; background: url(../resource/images/eventImg/event04/event04_bg01.jpg) top no-repeat; background-size: cover;}







.eventWrap .eventWarning { padding: 56px 0; background: #001d4b; } 
.eventWrap .eventWarning strong { color: #fff; font-size: 24px; } 
.eventWrap .eventWarning .warningList { margin-top: 15px; } 
.eventWrap .eventWarning .warningList li { color: #fff; font-size: 16px; } 
.eventWrap .eventWarning .warningList li::before { content: '-'; margin-left: -10px; margin-right: 5px; } 