@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; } 
.gBold { font-family: 'GmarketSansBold','Noto Sans KR'; } 
.gMedium { font-family: 'GmarketSansMedium','Noto Sans KR'; } 

.centerJoin .innerSection { max-width: 1260px; margin: 0 auto; } 
.centerJoin .fcWhite { color: #fff; } 
.centerJoin .fcBlue { color: #334a98; } 
.centerJoin .fcSkyBlue { color: #4194d3; } 
.centerJoin .fcBrown { color: #a28064; } 
.centerJoin .fcMint { color: #66c1bc; } 
.centerJoin .bcSky { background: #c8edfd; } 
.centerJoin .bcYellow { background: #fbecbf; } 
.centerJoin .bcPurple { background: #ecdefb; } 