@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
.gBold { font-family: 'GmarketSansBold','Noto Sans KR'; }
.gMedium { font-family: 'GmarketSansMedium','Noto Sans KR'; }

.centerEdu .innerSection { max-width: 1260px; margin: 0 auto; }
.centerEdu .fcWhite { color: #fff; }
.centerEdu .fcBlue { color: #334a98; }
.centerEdu .fcSkyBlue { color: #4194d3; }
.centerEdu .fcBrown { color: #a28064; }
.centerEdu .fcMint { color: #3cbca4; }
.centerEdu .fcRed { color: #ff0000; }

.centerEdu .bgSky { background: #c8edfd; }
.centerEdu .bgYellow { background: #fbecbf; }
.centerEdu .bgPurple { background: #ecdefb; }
.centerEdu .bgGreen { background: #bbe8c1; }
.centerEdu .bgSkin { background: #feede0; }
.centerEdu .bgMint { background: #d3f5f9; }

.centerEdu .eduMain { background: #66c2bd; }
.centerEdu .eduMain .innerSection { position: relative; padding: 60px 0 70px; overflow: hidden; }
.centerEdu .eduMain .innerSection::after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; right: 0; background: url(../images/centerEdu/main_bg.png) no-repeat top right 70px; opacity: 0.3; z-index: 1; }
.centerEdu .eduMain .innerSection::before { content: ''; width: 442px; height: 276px; position: absolute; right: 0; bottom: -40px; background: url(../images/centerEdu/main_img02.png) no-repeat; z-index: 2; }
.centerEdu .mainWrap { position: relative; padding-left: 70px; z-index: 3; }
.centerEdu .eduMain .imgWrap { margin-bottom: 25px; }
.centerEdu .eduMain .txtWrap p { margin-bottom: 30px; color: #fff; font-size: 32px; line-height: 1.2; }
.centerEdu .eduMain .txtWrap p span { display: inherit; font-size: 22px; }
.centerEdu .eduMain .btnWrap { padding-left: 166px; }
.centerEdu .eduMain .btnWrap a { display: inline-block; padding: 6px 30px 8px; background: #003281; color: #fff; font-size: 24px; border-radius: 30px; }
.centerEdu h2 { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; color: #000; font-size: 34px; text-align: center; }
.centerEdu h2 span { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-left: 6px; }
.centerEdu h2 i { display: inline-block; margin: 0 6px; background-repeat: no-repeat; background-position: center; background-size: contain; }
.centerEdu h2 i.icon01 { width: 55px; height: 53px; background-image: url(../images/centerEdu/eduCont_icon01.png); }
.centerEdu h2 i.icon02 { width: 55px; height: 55px; background-image: url(../images/centerEdu/eduCont_icon02.png); }
.centerEdu h2 i.icon03 { width: 62px; height: 58px; background-image: url(../images/centerEdu/eduCont_icon03.png); }
.centerEdu h2 i.icon04 { width: 52px; height: 58px; background-image: url(../images/centerEdu/eduCont_icon04.png); }

.centerEdu .eduCont01 .innerSection { padding: 100px 0 130px; }
.centerEdu .eduCont01 .slideLink { min-height: 480px; padding: 30px 50px; border-radius: 30px; }
.centerEdu .eduCont01 .serviceSlide { margin-top: 70px; padding-bottom: 70px; }
.centerEdu .eduCont01 .slideLink::before { content: ''; display: block; width: 120px; height: 187px; margin: 0 auto; background-position: center; background-repeat: no-repeat; background-size: contain; }
.centerEdu .eduCont01 .slideLink.icon01::before { background-image: url(../images/centerEdu/eduCont01_icon01.png); }
.centerEdu .eduCont01 .slideLink.icon02::before { background-image: url(../images/centerEdu/eduCont01_icon02.png); }
.centerEdu .eduCont01 .slideLink.icon03::before { background-image: url(../images/centerEdu/eduCont01_icon03.png); }
.centerEdu .eduCont01 .slideLink.icon04::before { background-image: url(../images/centerEdu/eduCont01_icon04.png); }
.centerEdu .eduCont01 .slideLink.icon05::before { background-image: url(../images/centerEdu/eduCont01_icon05.png); }
.centerEdu .eduCont01 .slideLink.icon06::before { background-image: url(../images/centerEdu/eduCont01_icon06.png); }
.centerEdu .eduCont01 .slideLink strong { display: block; margin-bottom: 20px; color: #000; font-size: 32px; line-height: 1.2; }
.centerEdu .eduCont01 .slideLink p { color: #000; font-size: 20px; font-weight: 300; line-height: 1.4; letter-spacing: -1.3px; }
.centerEdu .eduCont01 .swiper-pagination-bullet-active { background: #5a5a5a; }
.centerEdu .eduCont01 .swiper-pagination-bullet { width: 18px; height: 18px; }

.centerEdu .eduCont02 { position: relative; background: #ecf1f5; overflow: hidden; }
.centerEdu .eduCont02 .innerSection { max-width: 1260px; padding: 100px 0; position: relative; }
.centerEdu .eduCont02 .whiteBox { display: flex; flex-direction: column; width: 100%; height: 100%; position: relative; padding: 40px 56px 10px; background: #fff; border-radius: 24px; box-shadow: 0px 30px 30px 0px rgba(52, 28, 28, 0.1); }
.centerEdu .eduCont02 .whiteBox .txtList li { color: #000; font-size: 18px; }
.centerEdu .eduCont02 .whiteBox .txtList li + li { margin-top: 10px; }
.centerEdu .eduCont02 .whiteBox .txtList li::before { content: "·"; margin-left: -10px; margin-right: 5px;}
.centerEdu .eduCont02 .whiteBox .txtWrap { min-height: 140px; position: relative; margin-bottom: 40px; }
.centerEdu .eduCont02 .whiteBox .txtWrap strong { display: block; color: #507593; font-size: 32px; line-height: 1; }
.centerEdu .eduCont02 .whiteBox .txtWrap strong::after { content: ''; position: absolute; right: 0; bottom: 0;}
.centerEdu .eduCont02 .whiteBox .txtWrap strong.icon01::after { width: 109px; height: 82px; background: url(../images/centerEdu/eduCont02_icon01.png) no-repeat; background-size: contain;}
.centerEdu .eduCont02 .whiteBox .txtWrap strong.icon02::after { width: 103px; height: 82px; background: url(../images/centerEdu/eduCont02_icon02.png) no-repeat; background-size: contain;}
.centerEdu .eduCont02 .whiteBox .txtWrap strong.icon03::after { width: 112px; height: 82px; background: url(../images/centerEdu/eduCont02_icon03.png) no-repeat; background-size: contain;}
.centerEdu .eduCont02 .whiteBox .txtWrap strong.icon04::after { width: 103px; height: 82px; background: url(../images/centerEdu/eduCont02_icon04.png) no-repeat; background-size: contain;}
.centerEdu .eduCont02 .whiteBox .txtWrap strong.icon05::after { width: 104px; height: 82px; background: url(../images/centerEdu/eduCont02_icon05.png) no-repeat; background-size: contain;}
.centerEdu .eduCont02 .slideLink { width: 400px; height: 500px; }
.centerEdu .eduCont02 .slideLink > div { width: 100%; height: 100%; }
.centerEdu .eduCont02 .tagMenu { display: flex; align-items: center; justify-content: center; margin-top: 36px; background: #2a3a51; border-radius: 40px; box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3); }
.centerEdu .eduCont02 .tagMenu li { display: inline-block; padding: 18px 0; color: #fff; font-size: 16px; }
.centerEdu .eduCont02 .tagMenu li + li { margin-left: 10px; }
.centerEdu .eduCont02 .guideSlide { margin-top: 70px; padding-bottom: 62px; overflow: initial; }
.centerEdu .eduCont02 .swiper-button-prev,
.centerEdu .eduCont02 .swiper-button-next { width: 72px; height: 72px; position: absolute; top: 50%; background: url(../images/centerEdu/eduCont02_arrow.png) no-repeat; background-size: contain; cursor: pointer; opacity: 1; z-index: 90; }
.centerEdu .eduCont02 .swiper-button-prev { left: 30px; transform: rotate(180deg); }
.centerEdu .eduCont02 .swiper-button-next { left: initial !important; right: 30px; }
.swiper-button-prev:after, .swiper-button-next:after { content: none; }
.centerEdu .eduCont02 .btn_arrow:before { content: ''; position: absolute; top: 0; left: 0; background-image: url(https://campaign-cdn.pstatic.net/0/campaign/2023/05/naverdetails_newpc/img/sp_newpc.png); -webkit-background-size: 348px 328px; background-size: 348px 328px; background-position: -130px -164px; width: 60px; height: 60px; }
.centerEdu .eduCont02 .btn_arrow:after { content: ''; position: absolute; top: 0; left: 0; width: 60px; height: 60px; background-color: #3C3D3F; opacity: 0.3; -webkit-border-radius: 50%; border-radius: 50%; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); }
.centerEdu .eduCont02 .btn_arrow:hover:before { background-image: url(https://campaign-cdn.pstatic.net/0/campaign/2023/05/naverdetails_newpc/img/sp_newpc.png); -webkit-background-size: 348px 328px; background-size: 348px 328px; background-position: -164px -75px; width: 60px; height: 60px; z-index: 10; }

.centerEdu .eduCont03 { padding: 100px 0 0; }
.centerEdu .eduCont03 .inner {padding: 0 10px;}
.centerEdu .eduCont03 .tabMenu { display: flex; align-items: center; justify-content: space-between; max-width: 980px; width: 100%; margin: 60px auto 50px; padding: 10px 30px; background: #f3f3f3; border-radius: 40px; }
.centerEdu .eduCont03 .tabMenu li { color: #000; font-size: 18px; text-align: center; cursor: pointer; }
.centerEdu .eduCont03 .tabMenu li.active { padding: 6px 20px; background: #4ba7a9; color: #fff; border-radius: 30px; box-shadow: 0px 0px 7px 0px rgba(0, 132, 134, 0.5); }
.centerEdu .eduCont03 .tabWrap { background: url(../images/centerEdu/eduCont03_bg.jpg) no-repeat; background-size: cover; }
.centerEdu .eduCont03 .innerSection { max-width: 980px; padding: 70px 10px; }
.centerEdu .eduCont03 .tabBox { display: none; }
.centerEdu .eduCont03 .tabBox.active { display: block; }
.centerEdu .eduCont03 .tabBox .txtWrap { position: relative; padding: 40px 60px 40px; background-color: #fff; border-radius: 20px; box-shadow: 0px 20px 20px 0px rgba(52, 28, 28, 0.05); overflow: hidden; background-repeat: no-repeat; }
.centerEdu .eduCont03 .tabBox .txtWrap::before { content: ''; width: 100%; height: 100%; top: 0; right: 0; position: absolute; z-index: 1; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon01::before { background-image: url(../images/centerEdu/eduCont03_imgbg01.png); background-repeat: no-repeat; background-position: top -200px right -20px; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon02::before { background-image: url(../images/centerEdu/eduCont03_imgbg02.png); background-repeat: no-repeat; background-position: top -20px right -20px; }

.centerEdu .eduCont03 .tabBox .txtWrap.icon01 { background-image: url(../images/centerEdu/eduCont03_img01.png); background-position: right 30px bottom; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon02 { background-image: url(../images/centerEdu/eduCont03_img02.png); background-position: right 30px bottom; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon03 { background-image: url(../images/centerEdu/eduCont03_img03.png); background-position: right -70px bottom; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon04 { background-image: url(../images/centerEdu/eduCont03_img04.png); background-position: right 0 bottom; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon05 { background-image: url(../images/centerEdu/eduCont03_img05.png); background-position: right 30px bottom -10px; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon06 { background-image: url(../images/centerEdu/eduCont03_img06.png); background-position: right 30px bottom; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon07 { background-image: url(../images/centerEdu/eduCont03_img07.png); background-position: right 30px bottom; }
.centerEdu .eduCont03 .tabBox .txtWrap.icon08 { background-image: url(../images/centerEdu/eduCont03_img08.png); background-position: right -20px bottom 20px; }


.centerEdu .eduCont03 .tabBox .txtWrap strong { position: relative; color: #000; font-size: 38px; z-index: 2; box-shadow: inset 0 -25px 0 0 rgba(200, 203, 203, .35); }
.centerEdu .eduCont03 .tabBox .txtWrap ul { min-height: 160px; position: relative; margin-top: 20px; padding-left: 10px; letter-spacing: -1px; z-index: 2; }
.centerEdu .eduCont03 .tabBox .txtWrap li { font-size: 20px; }
.centerEdu .eduCont03 .tabBox .txtWrap li span { font-size: 16px; }
.centerEdu .eduCont03 .tabBox .txtWrap li + li { margin-top: 10px; }
.centerEdu .eduCont03 .tabBox .txtWrap li::before { content: '·'; margin-left: -10px;}
.centerEdu .eduCont03 .tabBox .txtWrap a { display: inline-block; position: relative; background: #fff; margin-top: 40px; padding: 15px 25px; color: #2c2c2c; font-size: 18px; font-weight: 400; text-align: center; border: 1px solid #2c2c2c; z-index: 10; }
.centerEdu .eduCont03 .tabBox .txtWrap a span { position: relative; }
.centerEdu .eduCont03 .tabBox .txtWrap a span::after { content: ""; width: 0; height: 9px; position: absolute; left: 0; bottom: 0; transition: all 0.3s; z-index: -1; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon01::after {background: #ffc4bd; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon02::after {background: #bcffe8; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon03::after {background: #faf03e; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon04::after {background: #98d1ff; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon05::after {background: #ffabf1; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon06::after {background: #F9E9DC; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon07::after {background: #a6ffad; }
.centerEdu .eduCont03 .tabBox .txtWrap a span.icon08::after {background: #fcb68b; }
.centerEdu .eduCont03 .tabBox .txtWrap a:hover span::after { width: 100%; }
.centerEdu .eduCont03 .tabBox .btnWrap { display: flex; justify-content: space-between; margin-top: 50px; }
.centerEdu .eduCont03 .tabBox .btnWrap a { display: block; width: calc(100% / 2 - 20px); padding: 18px 0; background: #3e5a9b; color: #fff; font-size: 18px; font-weight: bold; text-align: center; border-radius: 10px; transition: all 0.35s; }
.centerEdu .eduCont03 .tabBox .btnWrap a:hover { color: #a8f6ff; }

.centerEdu .eduCont04 .innerSection { padding: 100px 10px 300px; }
.centerEdu .eduCont04 .qnaList { margin-top: 40px; }
.centerEdu .eduCont04 .qnaList a { display: block; padding: 16px 0 18px 80px; position: relative; color: #696969; font-size: 18px; border-top: 1px solid #999999; }
.centerEdu .eduCont04 .qnaList li:last-child a { border-bottom: 1px solid #999999; }
.centerEdu .eduCont04 .qnaList a::before,
.centerEdu .eduCont04 .qnaList a::after { content: ''; width: 22px; height: 5px; position: absolute; top: 50%; left: 26px; transform: translateY(-50%); background: #bcbcbc; border-radius: 10px; transition: all 0.5s ease; }
.centerEdu .eduCont04 .qnaList li.active a,
.centerEdu .eduCont04 .qnaList li a:hover { color: #000; }
.centerEdu .eduCont04 .qnaList li.active a::before,
.centerEdu .eduCont04 .qnaList li.active a::after { background: #2c2c2c; }
.centerEdu .eduCont04 .qnaList li.active a::after { transform: translateY(-50%) rotate(-90deg); }
.centerEdu .eduCont04 .qnaList .answerWrap { display: none; padding: 20px 10px 20px 80px; background: #f5f5f5; border-top: 1px solid #999999; }
.centerEdu .eduCont04 .qnaList li:last-child .answerWrap { border-top: none; border-bottom: 1px solid #999999; }
.centerEdu .eduCont04 .qnaList .answerWrap p { color: #000; font-size: 16px; font-weight: 300; }


.centerEdu .eduCont05 { position: relative; padding: 100px 10px 30px; background: #e3f1f4; }
.centerEdu .eduCont05 .titWrap { width: 100%; position: absolute; top: -85px; left: 50%; transform: translateX(-50%); text-align: center; }
.centerEdu .eduCont05 .titWrap p { display: inline-block; position: relative; padding: 34px 54px; background: #00aef0; color: #fff; font-size: 26px; border-radius: 80px; word-break: keep-all; }
.centerEdu .eduCont05 .titWrap p::after { content: ''; width: 433px; height: 136px; position: absolute; top: -112px; left: 50%; transform: translateX(-50%); background: url(../images/centerEdu/eduCont05_img01.png) no-repeat; background-size: cover; }
.centerEdu .eduCont05 .titWrap p::before { content: ''; position: absolute; left: 0; bottom: -6px; border-top: 34px solid #00aef0; border-left: 16px solid transparent; border-right: 16px solid transparent; border-bottom: 0 solid transparent; transform: rotate(45deg); }
.centerEdu .eduCont05 .txtWrap p { color: #003281; font-size: 28px; text-align: center; word-break: keep-all; }
.centerEdu .eduCont05 .txtWrap p::after { content: ''; display: inline-block; width: 139px; height: 43px; margin-left: 10px; background: url(../images/centerEdu/eduCont05_img02.png) no-repeat; background-size: cover; vertical-align: bottom; }


@media screen and (max-width: 1599px){
 .centerEdu .eduCont02 .innerSection { max-width: 940px; }
 }
@media screen and (max-width: 1024px){
 .centerEdu .eduMain .innerSection { padding: 60px 10px 70px; }
 .centerEdu .eduMain .innerSection::before { content: none; }
 .centerEdu .mainWrap { text-align: center; padding-left: 0; }
 .centerEdu .eduMain .btnWrap { padding: 0; }

 .centerEdu .eduCont01 .slideLink { text-align: center; }

 .centerEdu .eduCont02 .innerSection { max-width: 740px; }
 .centerEdu .eduCont02 .swiper-navigation { display: none; }


 .centerEdu .eduCont03 .tabMenu { padding: 0; white-space: nowrap; overflow-x: scroll; border: 10px solid #f3f3f3;}
 .centerEdu .eduCont03 .tabMenu li { min-width: 120px; }
 .centerEdu .eduCont03 .tabBox .txtWrap::before { opacity: 0.2; }
 }


 @media screen and (max-width: 860px){
 .centerEdu .eduMain .innerSection { padding: 30px 10px; }
 .centerEdu .eduMain .imgWrap { transform: scale(0.8); }
 .centerEdu .eduMain .txtWrap p { font-size: 26px; word-break: keep-all; }
 .centerEdu .eduMain .btnWrap a { font-size: 18px; }

 .centerEdu .eduCont01 .innerSection { padding: 50px 0 50px; }
 .centerEdu h2 { font-size: 28px; word-break: keep-all; }
 .centerEdu h2 i { margin: 0 4px; }
 .centerEdu h2 i.icon01 { width: 45px; height: 43px; }
.centerEdu h2 i.icon02 { width: 45px; height: 45px; }
.centerEdu h2 i.icon03 { width: 52px; height: 48px; }
.centerEdu h2 i.icon04 { width: 42px; height: 48px; }

.centerEdu .eduCont01 .serviceSlide { margin-top: 30px; padding-bottom: 50px; }

.centerEdu .eduCont01 .slideLink { min-height: 470px; padding: 20px 20px; border-radius: 30px; }
.centerEdu .eduCont01 .slideLink strong { margin-bottom: 20px; font-size: 24px; }
.centerEdu .eduCont01 .slideLink p { font-size: 18px; word-break: keep-all; }

.centerEdu .eduCont02 .innerSection { max-width: 370px; padding: 30px 0 60px; }
.centerEdu .eduCont02 .guideSlide { margin-top: 40px; }
.centerEdu .eduCont02 .whiteBox { padding: 50px 40px; }
.centerEdu .eduCont02 .whiteBox li { font-size: 20px; }
.centerEdu .eduCont02 .slideLink { width: 370px; height: 500px; }
.centerEdu .eduCont02 .swiper-slide-active .tagMenu { display: flex; }
.centerEdu .eduCont02 .whiteBox .txtWrap { margin-bottom: 60px; }
.centerEdu .eduCont02 .whiteBox .txtWrap strong { font-size: 38px; }
.centerEdu .eduCont02 .whiteBox .txtWrap strong::after { transform: scale(0.8); }
.centerEdu .eduCont02 .tagMenu li { padding: 12px 0; font-size: 18px; }

.centerEdu .eduCont03 { padding: 30px 0 0; }
.centerEdu .eduCont03 .tabMenu { margin: 30px auto 20px;}
.centerEdu .eduCont03 .tabMenu li { font-size: 16px; }
.centerEdu .eduCont03 .tabBox .txtWrap strong { font-size: 36px; }
.centerEdu .eduCont03 .tabBox .txtWrap li { font-size: 20px; word-break: keep-all; }
.centerEdu .eduCont03 .tabBox .txtWrap li span { font-size: 16px; }
.centerEdu .eduCont03 .tabBox .txtWrap a { padding: 10px 26px; font-size: 20px; }
.centerEdu .eduCont03 .tabBox .txtWrap { background-size: auto 50%; }
.centerEdu .eduCont03 .tabBox .btnWrap { flex-direction: column; padding: 0; }
.centerEdu .eduCont03 .tabBox .btnWrap a { width: 100%; }
.centerEdu .eduCont03 .tabBox .btnWrap a + a { margin-top: 10px; }

.centerEdu .eduCont04 .innerSection { padding: 30px 10px 50px; }
.centerEdu .eduCont04 .qnaList a { font-size: 20px; word-break: keep-all; }
.centerEdu .eduCont04 .qnaList .answerWrap p { font-size: 18px; word-break: keep-all; }

.centerEdu .eduCont05 .titWrap { position: static; transform: none; margin-bottom: 40px; }
.centerEdu .eduCont05 .titWrap p::after { width: 300px; height: 94px; top: -78px; }
.centerEdu .eduCont05 .txtWrap p::after { width: 110px; height: 34px; }
 }

 @media screen and (max-width: 640px){
 .centerEdu .eduMain .txtWrap p { font-size: 18px; }
.centerEdu .eduMain .txtWrap p span { font-size: 16px; }
.centerEdu .eduMain .btnWrap a { width: 90%; padding: 4px 10px 6px; font-size: 16px; }

.centerEdu h2 { font-size: 24px; }
.centerEdu .eduCont01 .innerSection { padding: 30px 0; }
.centerEdu .eduCont01 .serviceSlide { margin-top: 20px; }
.centerEdu .eduCont01 .slideLink { min-height: 430px; padding: 0 10px; text-align: center; }
.centerEdu .eduCont01 .slideLink::before { margin: 0 auto; }
.centerEdu .eduCont01 .slideLink strong { font-size: 22px; }
.centerEdu .eduCont01 .slideLink p { font-size: 18px; line-height: 1.5; }
.centerEdu .eduCont01 .swiper-pagination-bullet { width: 12px; height: 12px; }

.centerEdu .eduCont02 .innerSection { max-width: 100%; }
.centerEdu .eduCont02 .guideSlide { margin-top: 20px; }
.centerEdu .eduCont02 .tagMenu li {font-size: 16px;}
.centerEdu .eduCont02 .slideLink { width: 300px; }
.centerEdu .eduCont02 .whiteBox li { min-height: auto; font-size: 16px; word-break: keep-all; }
.centerEdu .eduCont02 .whiteBox .txtWrap { padding: 0 20px; }
.centerEdu .eduCont02 .whiteBox .txtWrap strong { font-size: 32px; }

.centerEdu .eduCont03 .innerSection { padding: 30px 10px; }

.centerEdu .eduCont03 .tabBox .txtWrap { background-image: none !important; }
.centerEdu .eduCont03 .tabBox .txtWrap { padding: 30px 20px; }
.centerEdu .eduCont03 .tabBox .txtWrap strong { font-size: 26px; }
.centerEdu .eduCont03 .tabBox .txtWrap ul { min-height: auto; }
.centerEdu .eduCont03 .tabBox .txtWrap li { font-size: 16px; }
.centerEdu .eduCont03 .tabBox .txtWrap li span { font-size: 14px; }
.centerEdu .eduCont03 .tabBox .txtWrap a { width: 100%; font-size: 14px; }
.centerEdu .eduCont03 .tabBox .btnWrap { margin-top: 20px; }
.centerEdu .eduCont03 .tabBox .btnWrap a { padding: 12px 0; font-size: 16px; }

.centerEdu .eduCont04 .qnaList { margin-top: 20px; }
.centerEdu .eduCont04 .qnaList a { padding: 16px 0 18px 46px; font-size: 14px; }
.centerEdu .eduCont04 .qnaList a::before,
.centerEdu .eduCont04 .qnaList a::after { width: 12px; top: 50%; left: 15px; }
.centerEdu .eduCont04 .qnaList .answerWrap { padding: 20px; }
.centerEdu .eduCont04 .qnaList .answerWrap p { font-size: 12px; }

.centerEdu .eduCont05 .titWrap p::before { content: none; }
.centerEdu .eduCont05 .titWrap { margin-bottom: 20px; }
.centerEdu .eduCont05 .titWrap p { padding: 15px 10px; width: 100%; font-size: 16px; }
.centerEdu .eduCont05 .titWrap p::after { width: 230px; height: 72px; top: -58px; }
.centerEdu .eduCont05 .titWrap p::before { content: none; }
.centerEdu .eduCont05 .txtWrap p { font-size: 16px; }
.centerEdu .eduCont05 .txtWrap p::after { width: 70px; height: 22px; }
 }