@font-face { font-family: 'GmarketSansBold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; } 
.gBold { font-family: 'GmarketSansBold','Noto Sans KR'; } 
.gMedium { font-family: 'GmarketSansMedium','Noto Sans KR'; } 

.centerJoin .mt10 { margin-top: 10px; } 

.centerJoin .innerSection { max-width: 1260px; margin: 0 auto; } 
.centerJoin .fcWhite { color: #fff !important; } 
.centerJoin .fcRed { color: #ff0101; } 
.centerJoin .fcBlue { color: #3283d6 !important; } 
.centerJoin .fcSkyBlue { color: #4194d3; } 
.centerJoin .fcBrown { color: #a28064; } 
.centerJoin .fcMint { color: #66c1bc; } 
.centerJoin .bgSky { background: #c8edfd; } 
.centerJoin .bgYellow { background: #fbecbf; } 
.centerJoin .bgPurple { background: #ecdefb; } 
.centerJoin .bgGray { background: #e0e0e0; } 
.centerJoin .bgSkyBlue { background: #daf1ff; } 
.centerJoin .bgWhite { background: #ffffff !important; } 

.centerJoin .joinMain { background: url(../images/centerJoin/main_bg.jpg) no-repeat; background-size: cover; } 
.centerJoin .joinMain .innerSection { position: relative; padding: 90px 20px 75px; overflow: hidden; } 
.centerJoin .joinMain .innerSection::before { content: ''; width: 415px; height: 246px; position: absolute; right: 84px; bottom: 26px; background: url(../images/centerJoin/main_img01.png) no-repeat; } 
.centerJoin .joinMain .imgWrap { margin-bottom: 40px; } 
.centerJoin .joinMain .txtWrap p { color: #000; font-size: 32px; line-height: 1.2; } 
.centerJoin .joinCont01 .innerSection { max-width: 1080px; padding: 100px 0 100px; } 

.centerJoin h2 { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; color: #000; font-size: 34px; text-align: center; line-height: 1; } 
.centerJoin h2 span { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-left: 4px; } 
.centerJoin h2 i { display: inline-block; margin: 0 8px; background-repeat: no-repeat; background-position: center; background-size: contain; } 
.centerJoin h2 i.icon01 { width: 55px; height: 55px; background-image: url(../images/centerJoin/joinCont_icon01.png); } 
.centerJoin h2 i.icon02 { width: 60px; height: 61px; background-image: url(../images/centerJoin/joinCont_icon02.png); } 
.centerJoin h2 i.icon03 { width: 60px; height: 53px; background-image: url(../images/centerJoin/joinCont_icon03.png); } 

.centerJoin .joinCont01 ul { display: flex; justify-content: space-between; margin-top: 100px; } 
.centerJoin .joinCont01 ul li { width: calc(100% / 3 - 20px); } 
.centerJoin .joinCont01 .whiteBox { min-height: 350px; padding: 90px 20px 10px; position: relative; background: #fff; border-radius: 20px; border: 6px solid #e7e7e7; box-sizing: border-box; text-align: center; } 
.centerJoin .joinCont01 .whiteBox strong { color: #000; font-size: 24px; } 
.centerJoin .joinCont01 .whiteBox p { margin-top: 25px; color: #000; font-size: 18px; } 
.centerJoin .joinCont01 .whiteBox::before { content: ''; position: absolute; top: -60px; left: 50%; transform: translateX(-50%); width: 132px; height: 115px; border-radius: 30px; background-repeat: no-repeat; background-position: center; background-size: auto; } 
.centerJoin .joinCont01 .whiteBox.icon01::before { background-image: url(../images/centerJoin/joinCont01_icon01.png); background-color: #fbd4e1; } 
.centerJoin .joinCont01 .whiteBox.icon02::before { background-image: url(../images/centerJoin/joinCont01_icon02.png); background-color: #cbeeeb; } 
.centerJoin .joinCont01 .whiteBox.icon03::before { background-image: url(../images/centerJoin/joinCont01_icon03.png); background-color: #e1d9ed; } 

.joinCont02 { background: #f3f3f3; } 
.joinCont02 .innerSection { padding: 100px 20px 0; } 
.joinCont02 .inner { padding: 0 20px 100px; } 
.joinCont02 .section_various_wrap .pin-spacer { width: 100% !important; max-width: 100%; } 
.joinCont02 .section_various { overflow: hidden; will-change: contents; } 
.joinCont02 .section_various .card_wrap { margin-top: 50px; padding: 0 20px; animation-delay: 0.3s; } 
.joinCont02 .section_various .card_wrap .card_box { position: relative; height: 550px; } 
.joinCont02 .section_various .card_wrap .card_item { display: flex; justify-content: space-between; align-items: center; padding: 50px 50px; position: absolute; width: 100%; top: 0px; height: 550px; -webkit-border-radius: 20px; -ms-border-radius: 20px; border-radius: 20px; will-change: transform; overflow: hidden; filter: drop-shadow(0px 8px 40px rgba(86, 91, 101, 0.02)); } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap { flex-shrink: 0; } 
.joinCont02 .section_various .card_wrap .card_item h3 { display: inline-block; padding: 6px 20px; margin-bottom: 20px; font-size: 22px; border-radius: 40px; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap > span { display: block; margin-bottom: 20px; font-size: 32px; line-height: 1.2; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap p { margin-top: 10px; padding-left: 10px; font-size: 16px; font-weight: 300; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap p::before { content: "·"; margin-left: -10px; margin-right: 5px; } 
.joinCont02 .section_various .card_wrap .imgWrap { min-width: 400px; margin-left: 40px; border: 1px solid #dcdcdc; border-radius: 16px; overflow: hidden; } 
.joinCont02 .section_various .card_wrap .imgWrap img { width: 100%; height: 100%; object-fit: cover; } 



.centerJoin .joinCont03 .innerSection { max-width: 1080px; padding: 100px 10px 280px; } 
.centerJoin .joinCont03 .joinWrap > p { margin: 40px 0 10px; color: #ff0000; font-size: 18px; text-align: right; } 
.centerJoin .joinCont03 .item { display: flex; border: 1px solid #cccccc; overflow: hidden; } 
.centerJoin .joinCont03 .item:nth-of-type(1) { border-radius: 10px 10px 0 0; } 
.centerJoin .joinCont03 .item:last-child { border-radius: 0 0 10px 10px; } 
.centerJoin .joinCont03 .item:not(:nth-child(2)) { border-top: none; } 
.centerJoin .joinCont03 input[type="text"] { width: 100%; padding: 5px 10px; font-size: 16px; border: 1px solid #c8c8c8; box-sizing: border-box; } 
.centerJoin .joinCont03 input[type="tel"] { max-width: 120px; width: 100%; } 
.centerJoin .joinCont03 input[type="text"]::placeholder, .centerJoin .joinCont03 input[type="tel"]::placeholder { color: #e8e8e8; } 
.centerJoin .joinCont03 .tit { display: flex; align-items: center; justify-content: center; width: 250px; background: #f5f5f5; font-size: 18px; text-align: center; border-right: 1px solid #cccccc; } 
.centerJoin .joinCont03 .cont { display: flex; align-items: center; width: calc(100% - 250px); background: #fff; } 
.centerJoin .joinCont03 .contBox { width: 100%; padding: 10px 20px; } 
.centerJoin .joinCont03 .contBox.box01 { padding: 20px 30px; } 
.centerJoin .joinCont03 .contBox .comm_select { width: 380px !important; max-width: 100%; } 
.centerJoin .joinCont03 .contBox.style_01 { display: flex; gap: 10px } 
.centerJoin .joinCont03 .contBox.style_01 .comm_select { max-width: 90px; } 
.centerJoin .joinCont03 .contBox p { font-size: 16px; } 
.centerJoin .joinCont03 .contBox .txtWrap > p span { font-size: 16px; } 
.centerJoin .joinCont03 .contBox .txtWrap ul { margin-top: 10px; } 
.centerJoin .joinCont03 .contBox .txtWrap li { display: flex; font-size: 16px; } 
.centerJoin .joinCont03 .contBox .txtWrap li span { flex-shrink: 0; margin-right: 10px; } 
.centerJoin .joinCont03 .contBox .txtWrap li p { font-weight: 300; word-break: keep-all; } 
.centerJoin .joinCont03 .btnWrap { margin-top: 50px; } 
.centerJoin .joinCont03 .btnWrap a { display: block; width: 400px; padding: 15px 0; margin: 0 auto; background: #3e5a9b; color: #fff; font-size: 28px; text-align: center; border-radius: 15px; } 
.centerJoin .joinCont03 .comCheckBox input[type="checkbox"] { display: none; } 
.centerJoin .joinCont03 .comCheckBox input[type="checkbox"] + label::before { content: ''; display: inline-block; width: 20px; height: 20px; margin-right: 4px; background: #fff; border: 1px solid #9ea4aa; border-radius: 3px; vertical-align: bottom; box-sizing: border-box; } 
.centerJoin .joinCont03 .comCheckBox input[type="checkbox"]:checked + label::before { content: ''; background-color: #67c3be; background-image: url(../images/centerJoin/check_btn.png); background-repeat: no-repeat; background-position: 50%; border-color: #67c3be; } 
.centerJoin .joinCont03 .checkItem { margin-top: 20px; } 
.centerJoin .joinCont03 .checkItem span { font-size: 16px; } 
.centerJoin .joinCont03 .checkItem span + span { margin-left: 20px; } 

.centerJoin .joinCont03 .cont.fdc { flex-direction: column; align-items: flex-start; } 
.centerJoin .joinCont03 .infoWrap { display: flex; width: 100%; border-bottom: 1px solid #cccccc; } 
.centerJoin .joinCont03 .infoWrap:last-child { border-bottom: none; } 
.centerJoin .joinCont03 .infoBox { display: flex; align-items: center; flex-shrink: 0; justify-content: center; width: 138px; background: #ecf8f6; border-right: 1px solid #cccccc; } 
.centerJoin .joinCont03 .infoBox p { font-size: 16px; } 

.centerJoin .joinCont04 { position: relative; padding: 100px 10px 30px; background: #e3f1f4; } 
.centerJoin .joinCont04 .titWrap { width: 100%; position: absolute; top: -85px; left: 50%; transform: translateX(-50%); text-align: center; } 
.centerJoin .joinCont04 .titWrap p { display: inline-block; position: relative; padding: 34px 54px; background: #00aef0; color: #fff; font-size: 26px; border-radius: 80px; word-break: keep-all; } 
.centerJoin .joinCont04 .titWrap p::after { content: ''; width: 433px; height: 136px; position: absolute; top: -112px; left: 50%; transform: translateX(-50%); background: url(../images/centerJoin/joinCont04_img01.png) no-repeat; background-size: cover; } 
.centerJoin .joinCont04 .titWrap p::before { content: ''; position: absolute; left: 0; bottom: -6px; border-top: 34px solid #00aef0; border-left: 16px solid transparent; border-right: 16px solid transparent; border-bottom: 0 solid transparent; transform: rotate(45deg); } 
.centerJoin .joinCont04 .txtWrap p { color: #003281; font-size: 28px; text-align: center; word-break: keep-all; } 
.centerJoin .joinCont04 .txtWrap p::after { content: ''; display: inline-block; width: 139px; height: 43px; margin-left: 10px; background: url(../images/centerJoin/joinCont04_img02.png) no-repeat; background-size: cover; vertical-align: bottom; } 

@media screen and (max-width: 1199px){
 .centerJoin .joinMain .innerSection::before { right: 0; bottom: 0; transform: scale(0.8); } 
 }

@media screen and (max-width: 1024px){
 .centerJoin .joinCont01 .innerSection { padding: 100px 20px; } 
 .centerJoin .joinCont01 ul { flex-wrap: wrap; justify-content: center; } 
 .centerJoin .joinCont01 ul li { width: calc(100% / 2 - 50px); } 
 .centerJoin .joinCont01 ul li:first-child { margin-right: 50px; margin-bottom: 100px; } 
 }

 
 
 @media screen and (max-width: 860px){
 .centerJoin h2 { font-size: 28px; justify-content: center; word-break: keep-all; } 
 .centerJoin h2 i { margin: -10px -10px; transform: scale(0.6); } 

 .centerJoin .joinMain .innerSection { padding: 30px 10px; } 
 .centerJoin .joinMain .innerSection::before { content: none; } 
 .centerJoin .joinMain .imgWrap { transform: scale(0.8); text-align: center; } 
 .centerJoin .joinMain .txtWrap p { font-size: 26px; word-break: keep-all; text-align: center; } 

.centerJoin .joinCont04 .titWrap { position: static; transform: none; margin-bottom: 40px; } 
.centerJoin .joinCont04 .titWrap p::after { width: 300px; height: 94px; top: -78px; } 
.centerJoin .joinCont04 .txtWrap p::after { width: 110px; height: 34px; } 

.centerJoin .joinCont01 .innerSection { padding: 30px 20px; } 
.centerJoin .joinCont01 ul { margin-top: 60px; } 
.centerJoin .joinCont01 ul li:first-child { margin: initial } 
.centerJoin .joinCont01 ul li { width: calc( 100% - 300px); } 
.centerJoin .joinCont01 ul li + li { margin-top: 80px; } 
.centerJoin .joinCont01 .whiteBox { min-height: auto; padding: 60px 20px 20px; } 
.centerJoin .joinCont01 .whiteBox::before { margin: 0 auto; transform: translateX(-50%) scale(0.8); } 
.centerJoin .joinCont01 .whiteBox strong { font-size: 22px; word-break: keep-all; } 
.centerJoin .joinCont01 .whiteBox p { margin-top: 20px; font-size: 18px; word-break: keep-all; } 


.joinCont02 .innerSection { padding: 0; } 
.joinCont02 .inner { padding: 30px 20px 50px; } 

.joinCont02 .section_various .card_wrap .card_item { flex-direction: column; padding: 30px 40px; } 
.joinCont02 .section_various .card_wrap .card_item h3 { padding: 4px 20px; font-size: 18px; } 
/* .joinCont02 .section_various .card_wrap .card_item br.forMobile { display: none; } */
.joinCont02 .section_various .card_wrap .card_item .txtWrap { text-align: center; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap > span { margin-bottom: 40px; font-size: 26px; word-break: keep-all; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap p { margin-top: 15px; font-size: 16px; word-break: keep-all; } 
.joinCont02 .section_various .card_wrap .imgWrap { min-width: auto; margin-left: 0; margin-top: 40px; } 

.centerJoin .joinCont03 .innerSection { padding: 30px 10px 30px; } 
.centerJoin .joinCont03 .joinWrap > p { margin: 20px 0 10px; font-size: 12px; } 
.centerJoin .joinCont03 .item { flex-direction: column; } 
.centerJoin .joinCont03 .contBox { padding: 20px 10px; } 
.centerJoin .joinCont03 .tit { width: 100%; padding: 10px 0; font-size: 20px; border-right: none; } 
.centerJoin .joinCont03 .contBox .txtWrap > p { font-size: 18px; } 
.centerJoin .joinCont03 .contBox .txtWrap li { font-size: 16px; } 
.centerJoin .joinCont03 .contBox .comm_select { width: 100% !important; margin: 0; } 
.centerJoin .joinCont03 .cont { width: 100%; } 
.centerJoin .joinCont03 .checkItem { text-align: center; } 
.centerJoin .joinCont03 .checkItem span + span { margin-left: 10px; } 
.centerJoin .joinCont03 .comCheckBox { text-align: center; } 
.centerJoin .joinCont03 .comCheckBox label { font-size: 14px; } 
.centerJoin .joinCont03 .btnWrap { margin-top: 20px; padding: 0; } 
.centerJoin .joinCont03 .btnWrap a { padding: 10px 0; font-size: 26px; } 
.centerJoin .joinCont03 .infoBox { justify-content: flex-start; background: #fff; border-right: none; padding: 10px; } 
.centerJoin .joinCont03 .contBox { padding: 10px 10px; } 
 }
 
 @media screen and (max-width: 640px){
 .centerJoin h2 { font-size: 22px; } 
 .centerJoin h2 i { height: 60px !important; background-size: contain; } 
 .centerJoin .joinMain .imgWrap { margin-bottom: 20px; } 
 .centerJoin .joinMain .txtWrap p { font-size: 18px; } 
 
 .centerJoin .joinCont01 .innerSection { padding: 30px 10px; } 
.centerJoin .joinCont01 ul li { width: 100%; } 
.centerJoin .joinCont01 ul li + li { margin-top: 50px; } 

.centerJoin .joinCont01 .whiteBox { border: 4px solid #e7e7e7; } 
.centerJoin .joinCont01 .whiteBox strong { font-size: 18px; } 
.centerJoin .joinCont01 .whiteBox p { font-size: 16px; } 
.centerJoin .joinCont01 .whiteBox p br { display: none; } 
.centerJoin .joinCont01 .whiteBox::before { transform: translateX(-50%) scale(0.6); } 

.joinCont02 .section_various .card_wrap .card_box { height: 650px; } 
.joinCont02 .section_various .card_wrap .card_item { justify-content: center; padding: 30px 15px; } 
.joinCont02 .section_various .card_wrap .card_item h3 { padding: 2px 15px; font-size: 14px; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap > span { font-size: 18px; margin-bottom: 20px; text-align: center; } 
.joinCont02 .section_various .card_wrap .card_item .txtWrap p { margin-top: 5px; font-size: 12px; } 

.centerJoin .joinCont03 .infoWrap { flex-direction: column; } 
.centerJoin .joinCont03 .btnWrap a { width: 100%; padding: 8px 0; font-size: 18px; } 
.centerJoin .joinCont03 .contBox .txtWrap li { font-size: 14px; flex-direction: column; } 
.centerJoin .joinCont03 .contBox .txtWrap li + li { margin-top: 10px; } 
.centerJoin .joinCont03 .contBox p { font-size: 14px; } 
.centerJoin .joinCont03 .tit { padding: 5px 0; font-size: 16px; } 
.centerJoin .joinCont03 .contBox .txtWrap > p { font-size: 14px; } 
.centerJoin .joinCont03 .contBox .txtWrap > p span { font-size: 14px; } 
.centerJoin .joinCont03 input[type="text"] { font-size: 16px; } 

.centerJoin .joinCont04 .titWrap { margin-bottom: 20px; } 
.centerJoin .joinCont04 .titWrap p { padding: 15px 10px; width: 100%; font-size: 16px; } 
.centerJoin .joinCont04 .titWrap p::after { width: 230px; height: 72px; top: -58px; } 
.centerJoin .joinCont04 .titWrap p::before { content: none; } 
.centerJoin .joinCont04 .txtWrap p { font-size: 16px; } 
.centerJoin .joinCont04 .txtWrap p::after { width: 70px; height: 22px; } 
 }
