html * { font-family: 'Nanum Gothic', Sans-Serif; } 

.inner { width: 1200px; margin: 0 auto; position: relative; } 
.inner.b_line { padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px solid #e5e5e5; } 
.new_header .h_top { position: relative; background: #efefef; } 
.new_header .h_top::after { content: ''; width: 50%; height: 100%; position: absolute; top: 0; left: 50%; background: #21add1; z-index: 1; } 
.new_header .h_top .inner { display: flex; height: 38px; } 
.new_header .h_top .h_left { width: calc(100% - 294px); position: relative; background: #efefef; z-index: 2; } 
.new_header .h_top ul { display: flex; height: 100%; align-items: center; } 
.new_header .h_top ul li { position: relative; margin-right: 14px; padding-right: 14px; } 
.new_header .h_top ul li::before { content: ''; display: block; width: 1px; height: 10px; position: absolute; top: 50%; right: 0; background: #b4b4b4; transform: translateY(-50%); } 
.new_header .h_top ul li:last-child::before { content: none; } 
.new_header .h_top ul li a { display: block; color: #5c5c5c; font-size: 15px; font-weight: 700; } 
.new_header .h_top .h_right { width: 294px; margin-left: auto; background: #21add1; z-index: 2; } 
.new_header .h_top .h_right ul { justify-content: flex-end; } 
.new_header .h_top .h_right ul li::before { background: #fff; } 
.new_header .h_top .h_right ul li a { color: #fff; } 
.new_header .h_top .h_right ul li a.util_login { padding: 1px 18px; border: 1px solid #fff; border-radius: 20px; } 
.new_header .h_top .h_right ul li:first-child:before { content: none; } 
.new_header .h_top .h_right ul li:first-child,
.new_header .h_top .h_right ul li:last-child { margin-right: 0; } 
#google_translate_element { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); } 

.new_header { position: fixed; top: 0; z-index: 999; width: 100%; background: #ffffff; } 
.new_header .gnb_wrap { background: #fff; border-bottom: 1px solid #cccccc; } 
.new_header .gnb_wrap .inner { display: flex; align-items: center; justify-content: space-between; } 
.new_header .gnb_wrap .gnb { display: flex; height: 86px; margin-left: 24px; } 
.new_header .gnb_wrap .gnb > li { position: relative; } 
.new_header .gnb_wrap .gnb > li > a { display: flex; height: 100%; padding: 0 10px; color: #000; font-size: 19px; align-items: center; } 
.new_header .gnb_wrap .gnb > li:hover > a { font-weight: bold; } 
.new_header .gnb_wrap .gnb > li:hover .depth_02 { display: block; } 
.new_header .gnb_wrap .gnb .depth_02 { display: none; padding: 10px 0; width: 200px; position: absolute; top: 76px; left: 50%; background: #fff; transform: translateX(-50%); border: 1px solid #efefef; border-radius: 10px; box-sizing: border-box; text-align: center; z-index: 99; } 
.new_header .gnb_wrap .gnb .depth_02::before { content: ''; width: 20px; height: 15px; position: absolute; left: 50%; top: -15px; transform: translateX(-50%); background: url(../images/dream/depth_ico.png) no-repeat; } 
.new_header .gnb_wrap .gnb .depth_02 a { display: block; padding: 6px 0; color: #000; font-size: 16px; } 
.new_header .gnb_wrap .gnb .depth_02 a:hover { color: #21add1; font-weight: 700; text-decoration: underline; } 
.new_header .gnb_wrap .all_menu { margin-left: auto; } 
.new_header .gnb_wrap .all_menu a { display: block; width: 25px; height: 17px; background: url(../images/dream/all_menu_ico.png) no-repeat; } 
.new_header .gnb_wrap .seach_area { width: 294px; margin-left: 10px; padding-left: 22px; } 
.new_header .gnb_wrap .seach_area .input_wrap { display: flex; width: 100%; padding: 2px 20px; border: 4px solid #21add1; border-radius: 30px; justify-content: space-between; align-items: center; overflow: hidden; } 
.new_header .gnb_wrap .seach_area .input_wrap input { width: calc(100% - 30px); font-size: 16px; border: none; outline: none; } 
.new_header .gnb_wrap .seach_area .input_wrap input::placeholder { color: #21add1; } 
.new_header .gnb_wrap .seach_area .search_btn { width: 24px; height: 24px; background: url(../images/dream/seach_ico.png) no-repeat center; } 

.main_contents { margin-top: 145px; } 
.main_contents .visual_wrap { display: flex; align-items: flex-start; justify-content: space-between; } 
.main_contents .main_visual { width: calc(100% - 302px); overflow: hidden; } 
.main_contents .visual .swiper-slide img { display: block; width: 100%; border-radius: 10px; overflow: hidden; } 
.main_contents .visual .swiper-pagination { left: 38px; bottom: 30px; text-align: left; } 
.main_contents .visual .swiper-pagination-bullet { width: 14px; height: 14px; background: #fff; opacity: 0.5; } 
.main_contents .visual .swiper-pagination-bullet-active { width: 52px; background: #fff !important; border-radius: 10px; opacity: 1; } 

.main_contents .main_notice { margin-top: 14px; padding: 24px 30px; border: 1px solid #cccccc; border-radius: 10px; } 
.main_contents .notice_wrap { display: flex; position: relative; padding: 0 70px 0 30px; background: #fff; } 
.main_contents .notice_wrap .txt { margin-right: 28px; padding-right: 28px; position: relative; color: #0d0c0c; font-size: 18px; } 
.main_contents .notice_wrap .swiper-slide { display: flex; } 
.main_contents .notice_wrap a { display: inline-block; width: 100%; color: #0d0c0c; font-size: 18px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; } 
.main_contents .notice_wrap .notice_data { color: #7e7e7e; font-size: 18px; } 
.main_contents .notice_wrap .txt::after { content: ''; display: block; width: 1px; height: 10px; position: absolute; top: 50%; right: 0; background: #dadada; transform: translateY(-50%); } 
.main_contents .notice_wrap .swiper-button-next::after,
.main_contents .notice_wrap .swiper-button-prev::after { content: none; } 
.main_contents .notice_wrap .swiper-button-next,
.main_contents .notice_wrap .swiper-button-prev { width: 8px; height: 13px; margin-top: 0; top: 50%; transform: translateY(-50%); } 
.main_contents .notice_wrap .swiper-button-next { right: 0; background: url(../images/dream/notice_arrow02.png) no-repeat center; } 
.main_contents .notice_wrap .swiper-button-prev { left: initial; right: 30px; background: url(../images/dream/notice_arrow01.png) no-repeat center; } 

.main_contents .main_login { width: 294px; border: 1px solid #cccccc; border-radius: 10px; overflow: hidden; } 
.main_contents .main_login .login_wrap { padding: 16px 96px 16px 16px; position: relative; } 
.main_contents .main_login .t_login { display: flex; margin-bottom: 10px; align-items: center; } 
.main_contents .main_login .t_login .txt { font-size: 18px; font-weight: 700; } 
.main_contents .main_login .sns { display: flex; } 
.main_contents .main_login .sns a { display: block; width: 16px; height: 16px; margin-left: 3px; } 
.main_contents .main_login .sns a.btn_facebook { background: url(../images/dream/facebook_ico.png) no-repeat center; } 
.main_contents .main_login .sns a.btn_naver { background: url(../images/dream/naver_ico.png) no-repeat center; } 
.main_contents .main_login .check_area { margin-left: auto; } 
.main_contents .main_login .check_area input[type="checkbox"] { width: 16px; height: 16px; margin-top: -2px; position: relative; background: #fff; outline: none !important; border: 1px solid #cccccc; border-radius: 3px; vertical-align: middle; -webkit-appearance: none; -webkit-box-sizing: border-box; cursor: pointer; } 
.main_contents .main_login .check_area input[type="checkbox"]:checked { background:url(../images/dream/check.png) no-repeat center #21add1; border: 1px solid #21add1; } 
.main_contents .main_login .check_area label { cursor: pointer; } 
.main_contents .main_login .m_login input[type="text"],
.main_contents .main_login .m_login input[type="password"] { width: 100%; margin-top: 4px; padding: 0 10px; background: #f5f5f5; font-size: 14px; border-radius: 8px; border: none; } 
.main_contents .main_login .m_login .btn_login { width: 78px; position: absolute; top: 0; right: 0; bottom: 0; border: none; cursor: pointer; } 
.main_contents .main_login .b_login ul { display: flex; margin-top: 10px; } 
.main_contents .main_login .b_login li { position: relative; } 
.main_contents .main_login .b_login li a { font-size: 12px; } 
.main_contents .main_login .b_login li:first-child { margin-right: 6px; padding-right: 6px; } 
.main_contents .main_login .b_login li:first-child::after { content: ''; display: block; width: 1px; height: 8px; position: absolute; top: 50%; right: 0; background: #b4b4b4; transform: translateY(-50%); } 
.main_contents .main_login .b_login li:last-child::before { content: '\00B7'; } 

.main_contents .service_list { width: 294px; margin-top: 10px; padding: 14px 14px; border: 1px solid #cccccc; border-radius: 10px; } 
.main_contents .service_list ul { display: flex; flex-wrap: wrap; justify-content: space-between; gap: 10px 10px; } 
.main_contents .service_list li { width: calc(100% / 3 - 10px); text-align: center; } 
.main_contents .service_list li:hover a::before { background-color: #FFEBDF; } 
.main_contents .service_list a::before { content: ''; display: block; width: 80px; height: 80px; margin: 0 auto 12px; background-color: #f8f8f8; background-repeat: no-repeat; background-position: center; border-radius: 50%; } 
.main_contents .service_list a span { color: #000; font-size: 14px; font-weight: 700; } 
.main_contents .service_list a.icon01::before { background-image: url(../images/dream/service_ico01.png); } 
.main_contents .service_list a.icon02::before { background-image: url(../images/dream/service_ico02.png); } 
.main_contents .service_list a.icon03::before { background-image: url(../images/dream/service_ico03.png); } 
.main_contents .service_list a.icon04::before { background-image: url(../images/dream/service_ico04.png); } 
.main_contents .service_list a.icon05::before { background-image: url(../images/dream/service_ico05.png); } 
.main_contents .service_list a.icon06::before { background-image: url(../images/dream/service_ico06.png); } 

/* 슬라이드 */
.step_cont .step_slider { width: calc(100% - 302px); overflow: hidden; } 
.step_cont .step_slider { position: relative; } 
.step_cont .step_slider .swiper-slide img { display: block; width: 100%; border-radius: 10px; overflow: hidden; } 
.step_cont .step_slider .step_btn { display: flex; height: 40px; margin: 0 30px; position: absolute; top: 16px; z-index: 1; } 
.step_cont .step_slider .step_btn li { display: flex; min-width: 154px; height: 100%; background: url(../images/dream/slider_list_ico.png) center no-repeat; background-size: contain; color: #000; font-weight: 700; opacity: 1; border-radius: initial; align-items: center; justify-content: center; } 
.step_cont .step_slider .step_btn li.swiper-pagination-bullet-active { background: url(../images/dream/slider_list_ico_on.png) center no-repeat !important; color: #fff; } 
.step_cont .step_slider .step_btn li:not(:first-child) { margin-left: -20px; } 

.more_btn { display: block; width: 24px; height: 24px; position: absolute; background: url(../images/dream/more_ico.png) center no-repeat; } 
.step_wrap .step_cont { display: flex; justify-content: space-between; } 
.step_wrap .news_wrap { width: 294px; padding: 35px 20px 20px; position: relative; background: #dbf3fb; border-radius: 10px; } 
.step_wrap .news_wrap .more_btn { top: 10px; right: 10px; } 
.step_wrap .news_tit { height: 170px; background: url(../images/dream/news_ico.png) bottom right no-repeat; } 
.step_wrap .news_tit h3 { color: #000; font-size: 20px; } 
.step_wrap .news_tit h3 span { display: block; margin-top: 6px; font-size: 24px; } 
.step_wrap .news_tit h3 span em { color: #0c64c2; } 
.step_wrap .news_tit p { margin-top: 14px; color: #646464; font-size: 16px; } 
.step_wrap .news_list li:first-child { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #afc2c9; } 
.step_wrap .news_list strong { color: #000; font-size: 17px; } 
.step_wrap .news_list a { display: flex; margin-top: 4px; justify-content: space-between; } 
.step_wrap .news_list a p { padding: 0 10px 0px 6px; position: relative; color: #333333; font-size: 15px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } 
.step_wrap .news_list a p::before { content: '\00B7'; display: block; position: absolute; left: 0; top: 0; } 
.step_wrap .news_list a span { color: #333333; font-size: 13px; } 

.edu_wrap .inner { margin-bottom: 20px; } 
.edu_wrap .edu_tit h2 { color: #000; font-size: 24px; font-weight: 700; } 
.edu_wrap .edu_tit { display: flex; margin-bottom: 20px; position: relative; align-items: center; } 
.edu_wrap .edu_tit .edu_btn { margin-left: 22px; } 
.edu_wrap .edu_tit .edu_btn li { display: inline-block; } 
.edu_wrap .edu_tit .edu_btn li.active a { background: #21add1; color: #fff; font-weight: 700; } 
.edu_wrap .edu_tit .edu_btn li a { display: block; padding: 2px 14px; background: #ececec; color: #000; font-size: 16px; border-radius: 20px; } 
.edu_wrap .edu_tit .more_btn { right: 0; } 
.edu_wrap .edu_cont { display: none; position: relative; } 
.edu_wrap .edu_cont.active { display: block; } 
.edu_wrap .edu_cont li a { display: block; position: relative; background: #fff; border: 1px solid #dddddd; border-radius: 10px; overflow: hidden; } 
.edu_wrap .edu_cont .edu_img { height: 220px; } 
.edu_wrap .edu_cont .edu_txt { padding: 10px 26px; text-align: center; } 
.edu_wrap .edu_cont .edu_txt p { display: -webkit-box; height: 40px; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; box-sizing: border-box; } 
.edu_wrap .swiper-button-next::after,
.edu_wrap .swiper-button-prev::after { content: none; } 
.edu_wrap .swiper-button-next, 
.edu_wrap .swiper-button-prev { width: 24px; height: 42px; margin-top: 0; transform: translateY(-50%) } 
.edu_wrap .swiper-button-prev { left: -60px; background: url(../images/dream/slide_prev.png) no-repeat; } 
.edu_wrap .swiper-button-next { right: -60px; background: url(../images/dream/slide_next.png) no-repeat; } 

.channel_wrap .channel_cont { display: flex; padding: 30px 30px; position: relative; background: url(../images/dream/channel_bg.png) no-repeat; background-size: cover; border-radius: 10px; justify-content: space-between; } 
.channel_wrap .tit h2 { margin-bottom: 20px; color: #000; font-size: 24px; font-weight: 700; } 
.channel_wrap .tit p { color: #000; font-size: 16px; font-weight: 700; } 
.channel_wrap .channel_box { width: calc(100% - 210px); } 
.channel_wrap .channel_box .swiper-pagination { left: 30px; top: 170px; text-align: left; } 
.channel_wrap .channel_box .swiper-pagination-bullet { width: 14px; height: 14px; background: #fff; opacity: 0.5; } 
.channel_wrap .channel_box .swiper-pagination-bullet-active { width: 52px; background: #fff !important; border-radius: 10px; opacity: 1; } 

.library_wrap .library_tit { display: flex; margin-bottom: 20px; position: relative; align-items: center; } 
.library_wrap .library_tit h2 { color: #000; font-size: 24px; font-weight: 700; } 
.library_wrap .library_tit .library_btn { margin-left: 22px; } 
.library_wrap .library_tit .library_btn li { display: inline-block; } 
.library_wrap .library_tit .library_btn li.active a { background: #21add1; color: #fff; font-weight: 700; } 
.library_wrap .library_tit .library_btn li a { display: block; padding: 2px 14px; background: #ececec; color: #000; font-size: 16px; border-radius: 20px; } 

.library_wrap .library_cont .tit {display: flex;margin-bottom: 20px;position: relative;align-items: center; } 
.library_wrap .library_cont .tit .more_btn {right: 0; } 
.library_wrap .library_cont .tit h3 {margin-bottom: 0;margin-right: 20px; padding-right: 20px;position: relative;color: #000;font-size: 20px;font-weight: 700; } 
.library_wrap .library_cont .tit h3::after {content: '';display: block;width: 1px;height: 10px;position: absolute;top: 50%;right: 0;background: #dadada;transform: translateY(-50%); } 
.library_wrap .library_cont .tit p {color: #959595;font-size: 16px; } 
.library_wrap .library_cont .library_list {display: flex;flex-wrap: wrap;justify-content: space-between;gap: 10px; } 
.library_wrap .library_cont .library_list li {width: calc(100% / 4 - 10px);height: 100px;padding: 10px 20px;border: 1px solid #d6dce3; } 
.library_wrap .library_cont .library_list li p {display: -webkit-box;text-overflow: ellipsis;-webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;box-sizing: border-box; } 
.library_wrap .left_box {width: 226px;padding: 24px 10px;background: #ffefef;border-radius: 10px;text-align: center; } 
.library_wrap .left_box strong {display: block;margin-bottom: 16px;color: #000;font-size: 24px;font-weight: 700; } 
.library_wrap .left_box strong span {font-size: 18px; } 
.library_wrap .left_box img {display: block;margin: 0 auto 20px; } 
.library_wrap .left_box p {display: inline-flex;padding: 2px 10px;background: #6baae8;color: #fff;font-size: 16px;border-radius: 20px;align-items: center;justify-content: center; } 
.library_wrap .left_box p i {display: inline-block;width: 8px;height: 13px;margin-left: 10px;background: url(../images/dream/library_ico01.png) center no-repeat; } 
.library_wrap .library_cont {display: none; } 
.library_wrap .library_cont.active {display: block; } 
.library_wrap .box_wrap {display: flex;justify-content: space-between; } 
.library_wrap .right_box {width: calc(100% - 256px); } 