@import url(../../etc/css/fonts.css);


.innerSection { max-width: 1300px; height: 100%; padding: 0 20px; margin: 0 auto; } 
.mt20 { margin-top: 20px; } 
.mr4 { margin-right: 4px; } 
.new_label_01::before { content: 'ON&OFF'; padding: 2px 4px; margin-right: 4px; background: #008ae0; color: #fff; font-size: 10px; border-radius: 20px; border: 1px solid #008ae0; } 

/* 헤더 메뉴 */
#newHeader.fixed_gnb { width: 100%; position: fixed; z-index: 9999; } 
#newHeader.fixed_gnb .nheader_top { display: none; } 
#newHeader.fixed_gnb .h_cont { margin-top: 0; } 
#newHeader .nheader_top { background: #008ae0; } 
#newHeader .h_util { display: flex; align-items: center; justify-content: space-between; height: 50px; } 
#newHeader .h_util ul { display: flex; } 
#newHeader .h_util ul li { position: relative; margin-right: 14px; padding-right: 14px; } 
#newHeader .h_util ul li:last-child { margin-right: 0; padding-right: 0; } 
#newHeader .h_util ul li:last-child::before { content: none; } 
#newHeader .h_util ul li::before { content: ''; display: block; width: 1px; height: 11px; position: absolute; top: 50%; right: 0; background: #ddd; transform: translateY(-50%); } 
#newHeader .h_util ul li a { display: block; color: #fff; font-size: 13px; line-height: 1; } 
#newHeader .h_cont { display: flex; align-items: center; justify-content: space-between; height: 70px; margin-top: 25px; } 
#newHeader .h_cont .logo { height: 70px; flex-shrink: 0; } 
#newHeader .h_cont .logo a { display: block; width: 100%; height: 100%; padding: 5px 0; } 
#newHeader .h_cont .logo img { max-width: 100%; height: 100%; object-fit: contain; } 
#newHeader .nheader_mid { background: #fff; border-bottom: 1px solid #dadada; } 
#newHeader .h_ui { display: flex; align-items: center; } 
#newHeader .h_menu { position: relative; width: 26px; height: 16px; cursor: pointer; } 
#newHeader .h_menu.mobile_menu { display: none; } 
#newHeader .h_menu span { position: absolute; width: 26px; height: 4px; display: block; background-color: #000; transition: all 0.2s ease-in; } 
#newHeader .h_menu span:first-child { top: 0; } 
#newHeader .h_menu span:nth-child(2) { top: 50%; } 
#newHeader .h_menu span:last-child { top: 100%; } 
/* 2023.07.11 추가 */
#newHeader .h_menu.active span:first-child { top: 50%; transform: rotate(45deg); } 
#newHeader .h_menu.active span:nth-child(2) { display: none; } 
#newHeader .h_menu.active span:last-child { top: 50%; transform: rotate(-45deg); } 
#newHeader .h_search { margin-left: 34px; flex-shrink: 0; } 
#newHeader .nheader_bottom { position: relative; } 
#newHeader .h_gnb { display: flex; max-width: 750px; width: 100%; margin-right: 60px; } 
#newHeader .h_gnb > li { width: calc(100% / 5); position: relative; text-align: center; } 
#newHeader .h_gnb > li > a { display: block; width: 100%; height: 70px; color: #000; font-size: 22px; line-height: 70px; } 
#newHeader .h_gnb > li > a:hover { color: #008ae0; } 
#newHeader .h_gnb > li:hover .depth_02 { display: block; } 
#newHeader .h_gnb > li .depth_02 { display: none; position: absolute; top: 60px; left: 12px; padding: 10px 0; width: 168px; height: auto; border: 1px solid #d7dce5; border-radius: 10px; box-sizing: border-box; letter-spacing: -0.5px; text-align: left; background: #fff; box-shadow: 2px 6px 16px 0 rgba(17,42,128,0.08); z-index: 6000; } 
#newHeader .h_gnb li .depth_02 > li { position: relative; z-index: 2; height: 100%; } 
#newHeader .h_gnb li .depth_02 > li > a { display: block; padding: 0 16px; height: 36px; color: #5c667b; font-size: 14px; line-height: 36px; } 
#newHeader .h_gnb li .depth_02 > li > a:hover { background: #eee; } 

/* 헤더 서브 메뉴 */
#newHeader .h_gnb_bg { display: none; width: 100%; position: absolute; background: #fff; border-bottom: 1px solid #dadada; overflow: hidden; z-index: 5000; } 
#newHeader .h_gnb_menu { display: grid; grid-template-columns: 976px 284px; justify-content: center; } 
#newHeader .h_gnb_bg::after { content: ''; width: 50%; height: 100%; position: absolute; top: 0; left: 50%; background: #edf6fd; z-index: 1; } 
#newHeader .h_gnb_menu .gnb_item { position: relative; padding: 50px 0 25px; z-index: 2; } 
#newHeader .h_gnb_menu .gnb_item.menu { display: grid; width: 976px; grid-template-areas: "depth_01 depth_01 depth_01 depth_01 depth_01"; background: #fff; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01 { position: relative; padding: 0 15px; min-height: 204px; align-self: stretch; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01::before { content: ''; width: 1px; position: absolute; top: 4px; bottom: 4px; left: 0; background: #ececec; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01 .etc_txt { position: absolute; top: -26px; left: 15px; color: #008ae0; font-size: 12px; line-height: 16px; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01.double .depth_02 { display: grid; grid-template-columns: auto auto; gap: 0 20px; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_tit { display: inline-block; margin-bottom: 16px; color: #000; font-size: 16px; font-weight: 600; pointer-events: none; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_02 a { color: #000; font-size: 14px; font-weight: 500; line-height: 28px; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_02 a:hover,
#newHeader .h_gnb_menu .gnb_item.menu .depth_02 a:focus { color: #008ae0; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01 .extra { display: block; margin-top: 34px; padding: 10px 15px; background: #f5f5f5; border: 1px solid #d2d2d2; border-radius: 5px; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01 .extra p { color: #000; font-size: 14px; font-weight: 600; } 
#newHeader .h_gnb_menu .gnb_item.menu .depth_01 .extra span { display: block; font-size: 12px; font-weight: 400; } 
#newHeader .h_gnb_menu .gnb_item.links { width: 248px; padding: 24px 32px; } 
#newHeader .h_gnb_menu .gnb_item.links .etc_txt { display: block; padding-left: 8px; color: #008ae0; font-size: 12px; line-height: 16px; } 
#newHeader .h_gnb_menu .gnb_item.links ul { margin-top: 2px; } 
#newHeader .h_gnb_menu .gnb_item.links li a { display: grid; width: 226px; padding: 8px 8px 12px; gap: 0 10px; grid-template-areas: "links_icon links_tit" "links_icon links_txt"; grid-template-columns: 36px 1fr; align-items: center; border-radius: 10px; } 
#newHeader .h_gnb_menu .gnb_item.links li a:hover, #newHeader .h_gnb_menu .gnb_item.links li a:focus { background: #acdfff; } 
#newHeader .h_gnb_menu .gnb_item.links li a .links_icon { display: grid; width: 36px; height: 36px; background: #fff; border: 1px solid #eaedf4; border-radius: 5px; grid-area: links_icon; justify-content: center; align-items: center; } 
#newHeader .h_gnb_menu .gnb_item.links li a .links_icon img { height: 24px; } 
#newHeader .h_gnb_menu .gnb_item.links li a .links_tit { display: grid; color: #000; font-size: 16px; font-weight: 600; grid-auto-flow: column dense; grid-area: links_tit; align-items: center; justify-content: start; } 
#newHeader .h_gnb_menu .gnb_item.links li a .links_tit::after { content: ''; display: inline-block; width: 6px; height: 10px; margin-left: 14px; background: url(https://www.jobaba.net/resource/images/main2023/gnb_icon_arrow.png) no-repeat; } 
#newHeader .h_gnb_menu .gnb_item.links li a .links_txt { color: #000; font-size: 12px; font-weight: 400; grid-area: links_txt; } 
/* 헤더 모바일 */
#newHeader .h_mobile { width: 100%; position: fixed; top: 0; right: -100%; background: #fff; transition: all 0.3s; z-index: 9999; } 
#newHeader .h_mobile.show { right: 0; height: 100vh; overflow-y: auto; } 
#newHeader .h_mobile_top { border-top: 4px solid #008ae0; } 
#newHeader .h_mobile_btn { display: flex; align-items: center; justify-content: space-between; height: 70px; padding: 0 10px; border-bottom: 1px solid #cecece; } 
#newHeader .h_mobile_btn .logo { height: 100%; } 
#newHeader .h_mobile_btn .logo a { display: block; width: 100%; height: 100%; padding: 15px 0; } 
#newHeader .h_mobile_btn .logo img { height: 100%; } 

/* 2023.07.11 추가 */
#newHeader .h_mobile_close { position: relative; width: 20px; height: 20px; margin-right: 20px; cursor: pointer; } 
#newHeader .h_mobile_close span { display: block; width: 20px; height: 2px; position: absolute; top: 50%; background-color: #000; } 
#newHeader .h_mobile_close span:first-child { transform: rotate(45deg); } 
#newHeader .h_mobile_close span:last-child { transform: rotate(-45deg); } 
#newHeader .h_mobile_login { margin-top: 20px; padding: 0 15px; } 
#newHeader .h_mobile_login .btn01 { display: block; padding: 15px 0; background: #ececec; color: #000; font-size: 12px; border: 1px solid #d0d0d0; border-radius: 10px; text-align: center; } 
#newHeader .h_mobile_login .btn01.joinBtn { margin-top: 8px; background: #003281; color: #fff; border: 1px solid #003281; } 
#newHeader .h_mobile_login.login { display: flex; flex-wrap: wrap; justify-content:space-between; } 
#newHeader .h_mobile_login.login .logName { width: 100%; margin-bottom: 10px; color: #000; font-size: 16px; } 
#newHeader .h_mobile_login.login a { width: calc(100% / 2 - 4px); background: #fff; font-size: 14px; text-align: center; border-radius: 20px; } 
#newHeader .h_mobile_login.login .myBtn { color: #008ae0; border: 1px solid #008ae0; } 
#newHeader .h_mobile_login.login .logoutBtn { background: #000; border: 1px solid #000; color: #fff; } 
#newHeader .h_mobile_info { display: flex; align-items: center; justify-content: space-around; margin: 20px 0 15px; } 
#newHeader .h_mobile_info li { width: calc(100% / 3); } 
#newHeader .h_mobile_info li a { display: block; height: 100%; color: #000; font-size: 12px; text-align: center; } 
#newHeader .h_mobile_info li a::before { display: block; content: ''; width: 38px; height: 35px; margin: 0 auto 10px auto; background-position: center center; background-repeat: no-repeat; background-size: contain; } 
#newHeader .h_mobile_info li a.mobile_icon01::before { background-image: url(https://www.jobaba.net/resource/images/main2023/mobile_info_icon01.png); } 
#newHeader .h_mobile_info li a.mobile_icon02::before { background-image: url(https://www.jobaba.net/resource/images/main2023/mobile_info_icon02.png); } 
#newHeader .h_mobile_info li a.mobile_icon03::before { background-image: url(https://www.jobaba.net/resource/images/main2023/mobile_info_icon03.png); } 

#newHeader .h_mobile_mid { padding: 10px 20px; border-top: 8px solid #eeeeee; border-bottom: 8px solid #eeeeee; } 
#newHeader .h_mobile_mid .mobile_menu { margin: 20px 0 20px 30px; } 
#newHeader .h_mobile_mid .mobile_menu > li { position: relative; } 
#newHeader .h_mobile_mid .mobile_menu > li::before { content: ''; width: 2px; height: calc(100% - 30px); background: #f3eeee; position: absolute; top: 26px; left: -17px; } 
#newHeader .h_mobile_mid .mobile_menu > li > a { display: block; position: relative; color: #000; font-size: 16px; font-weight: bold; } 
#newHeader .h_mobile_mid .mobile_menu > li > a::before { content: ''; height: 14px; width: 14px; position: absolute; left: -24px; top: 50%; background: #fff; transform: translateY(-50%); border: 4px solid #9ea9ff; border-radius: 50%; box-sizing: border-box; } 
#newHeader .h_mobile_mid .mobileGnb { padding: 10px 0; } 
#newHeader .h_mobile_mid .mobileGnb li > a { display: block; padding: 5px 0; color: #000; font-size: 16px; } 
#newHeader .h_mobile_mid .mobileSub { display: flex; flex-wrap: wrap; margin: 10px 0; } 
#newHeader .h_mobile_mid .mobileSub li { width: 100%; border-radius: 5px; border: 1px solid #d2d2d2; overflow: hidden; } 
#newHeader .h_mobile_mid .mobileSub li a { display: block; padding: 10px 15px; background: #f5f5f5; color: #000; font-size: 14px; font-weight: 600; } 
#newHeader .h_mobile_mid .mobileSub li a span { display: block; font-size: 12px; font-weight: 500; } 

#newHeader .h_mobile_bottom .h_mobile_family { padding: 20px 26px; } 
#newHeader .h_mobile_bottom .h_mobile_family strong { display: block; margin: 0 0 10px 4px; } 
#newHeader .h_mobile_bottom .h_mobile_family ul { display: flex; justify-content: space-between; } 
#newHeader .h_mobile_bottom .h_mobile_family li { width: calc((100% - 15px) / 4); height: 62px; border: 3px solid #e2e2e2; border-radius: 15px; text-align: center; } 
#newHeader .h_mobile_bottom .h_mobile_family a { display: flex; align-items: center; justify-content: center; width: 100%; height: 100%; } 
#newHeader .h_mobile_bottom .h_mobile_family li img { transform: scale(0.7); } 
#newHeader .h_mobile_sns { display: flex; align-items: center; justify-content: center; padding: 15px 0; background: #eeeeee; } 
#newHeader .h_mobile_sns li { display: flex; align-items: center; justify-content: center; background: #fff; border-radius: 50%; } 
#newHeader .h_mobile_sns li + li { margin-left: 10px; } 
#newHeader .h_mobile_sns li a { display: block; width: 32px; height: 32px; text-indent: -99999px; background-position: center center; background-repeat: no-repeat; transform: scale(0.8); } 
#newHeader .h_mobile_sns li a.blog { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_blog.png); } 
#newHeader .h_mobile_sns li a.face { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_face.png); } 
#newHeader .h_mobile_sns li a.insta { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_insta.png); } 
#newHeader .h_mobile_sns li a.youtu { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_youtube.png); } 
#newHeader .h_mobile_sns li a.app { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_appstore.png); } 
#newHeader .h_mobile_sns li a.play { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_playstore.png); } 
/* */
#newMain { padding: 20px 0 0; } 
#newMain h2 { color: #000; font-size: 20px; } 
#newMain .end { color: #ff007e !important; } 
#newMain .state { display: inline-block; padding: 0 10px; margin-bottom: 8px; font-size: 10px; border-style: solid; border-width: 1px; border-radius: 10px; } 
#newMain .state.orange { color: #ff4200; border-color: #ff4200; } 
#newMain .state.mint { color: #44adb3; border-color: #44adb3; } 
#newMain .badge.blue { color: #fff; background: #147dff; } 
#newMain .badge.gray { color: #fff; background: #626262; } 
#newMain .badge.pink { color: #fff; background: #ff64c6; } 
#newMain .badge.days { color: #ff007e; background: #fff; border: 1px solid #ff007e; } 
#newMain .badge.area { color: #808080; background: #fff; border: 1px solid #c9c9c9; } 
#newMain .badge.mla { margin-left: auto; } 
/* 메인 메뉴 */
#newMain .m_visual { margin-bottom: 24px; } 
#newMain .m_visual_wrap { display: flex; justify-content: space-between; } 
#newMain .m_visual .m_visual_cont { width: calc(100% - 360px); padding: 26px 40px; background: #dbeefb; border-radius: 5px; } 
#newMain .m_visual .m_visual_items { display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 30px; } 
#newMain .m_visual .m_visual_items li { width: calc(100% / 6); height: 112px; box-sizing: border-box; } 
#newMain .m_visual .m_visual_items li a { display: block; height: 100%; color: #000; font-size: 16px; text-align: center; letter-spacing: -0.7px; word-break: keep-all; } 
#newMain .m_visual .m_visual_items li a::before { display: block; content: ''; width: 84px; height: 78px; margin: 0 auto 10px auto; border-radius: 20px; background-color: #fff; background-position: center center; background-repeat: no-repeat; background-size: auto; box-sizing: border-box; } 
#newMain .m_visual .m_visual_items li a.m_item01::before { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_item01.png); } 
#newMain .m_visual .m_visual_items li a.m_item02::before { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_item02.png); } 
#newMain .m_visual .m_visual_items li a.m_item03::before { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_item03.png); } 
#newMain .m_visual .m_visual_items li a.m_item04::before { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_item04.png); } 
#newMain .m_visual .m_visual_items li a.m_item05::before { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_item05.png); } 
#newMain .m_visual .m_visual_items li a.m_item06::before { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_item06.png); } 
#newMain .m_visual .m_visual_items li a:hover::before { border: 1px solid #dadada; box-shadow: 0px 3px 5px 0px rgba(7, 7, 7, 0.08); } 
#newMain .m_visual .m_visual_items li.empty { display: none; } 
#newMain .m_visual .m_visual_search { position: relative; } 
#newMain .m_visual .m_search_cont { position: relative; } 
#newMain .m_visual .m_search_cont::before { content: ''; width: 125px; height: 136px; position: absolute; top: 50%; right: 20px; transform: translateY(-50%); background: url(https://www.jobaba.net/resource/images/main2023/search_img01.png) no-repeat; background-size: contain; } 
#newMain .m_visual .m_search_cont .tit { margin-bottom: 20px; margin-left: 20px; color: #343434; font-size: 24px; font-weight: 300; } 
#newMain .m_visual .m_search_cont .search_wrap { position: relative; display: flex; align-items: center; justify-content: space-between; width: 660px; padding: 14px 20px; margin-bottom: 14px; background: #fff; border-radius: 10px; } 
#newMain .m_visual .m_search_cont .search_wrap button { display: block; flex-shrink: 0; background: url(https://www.jobaba.net/resource/images/main2023/icon_search.png) no-repeat; width: 24px; height: 24px; border: 0; text-indent: -9999px; cursor: pointer; } 
#newMain .m_visual .m_search_cont .search_wrap input { width: 100%; margin: 0 10px; font-size: 16px; border: 0; outline: 0; } 
#newMain .m_visual .m_search_cont .search_wrap input::placeholder { color: transparent; } 

#newMain .m_visual .m_search_cont ul { display: inline-flex; background: #008ae0; border-radius: 20px; z-index: 1; } 
#newMain .m_visual .m_search_cont ul li { width: 70px; padding: 3px 0; margin: 4px; color: #fff; font-size: 14px; font-weight: 600; border-radius: 20px; text-align: center; cursor: pointer; transition: all 0.2s; } 
#newMain .m_visual .m_search_cont ul li.active { background: #fff; color: #000; } 
#newMain .m_visual .m_search_cont .m_visual_keyword { position: relative; padding-left: 52px; margin-bottom: 24px; } 
#newMain .m_visual .m_search_cont .m_visual_keyword::before { content: ''; width: 20px; height: 20px; position: absolute; left: 22px; top: 4px; background: url(https://www.jobaba.net/resource/images/main2023/icon_keyword.png) no-repeat; background-size: contain; } 
#newMain .m_visual .m_search_cont .m_visual_keyword a { display: inline-block; color: #464646; font-size: 16px; font-weight: 300; } 
#newMain .m_visual .m_search_cont .m_visual_keyword a + a { margin-left: 2px; } 

/* 공지사항 */
#newMain .m_visual .m_notice_wrap { display: flex; position: relative; padding: 0 30px; background: #fff; border-radius: 5px; } 
#newMain .m_visual .m_notice_wrap strong { margin-right: 46px; color: #000; font-size: 16px; line-height: 48px; } 
#newMain .m_visual .m_notice_wrap .swiper-container { height: 48px; padding-right:92px; flex: 1 0 0; } 
#newMain .m_visual .m_notice_wrap .swiper-slide a { display:block; width:100%; color: #000; font-size: 16px; line-height: 48px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; } 
#newMain .m_visual .m_notice_wrap .swiper-button-next::after,
#newMain .m_visual .m_notice_wrap .swiper-button-prev::after { content: none; } 
#newMain .m_visual .m_notice_wrap .swiper-button-next { width:15px; height:15px; top: 30px; right: 20px; left: initial !important; background: url(https://www.jobaba.net/resource/images/main2023/icon_notice_arrow.png) no-repeat 0 0; } 
#newMain .m_visual .m_notice_wrap .swiper-button-prev { width:15px; height:15px; right: 20px; bottom: 10px; top: initial; left: initial !important; background: url(https://www.jobaba.net/resource/images/main2023/icon_notice_arrow.png) no-repeat 0 0; transform: rotate(180deg); } 
/* 로그인폼 */
#newMain .m_visual .m_login_form { width: 330px; } 
#newMain .m_visual .m_login_input { display: block; height: 40px; width: 100%; padding: 0 0 0 10px; background: #fff; font-size: 14px; border: 1px solid #c8c8c8; border-radius: 6px; } 
#newMain .m_visual .m_login_btn { width: 100%; padding: 10px 0; background: #008ae0; color: #fff; font-size: 16px; font-weight: 600; border-radius: 5px; } 
#newMain .m_visual .m_login_sub { display: flex; justify-content: center; align-items: center; } 
#newMain .m_visual .m_login_sub a { margin-left: 25px; position: relative; color: #666666; font-size: 14px; } 
#newMain .m_visual .m_login_sub a + a { margin-left: 10px; padding-left: 10px; } 
#newMain .m_visual .m_login_sub a + a::before { content: ''; display: flex; width: 1px; height: 14px; position: absolute; top: 50%; left: 0; background: #666666; transform: translateY(-50%); } 
/* 로그인 후 */
#newMain .m_login_wrap.login { padding: 28px 26px 20px; border: 1px solid #d0d0d0; border-radius: 10px; } 
#newMain .m_login_wrap.login .txtWrap { display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px; } 
#newMain .m_login_wrap.login .txtWrap p { color: #000000; font-size: 14px; font-weight: 500; } 
#newMain .m_login_wrap.login .txtWrap a { display: inline-block; width: 80px; padding: 5px; background: #797979; color: #fff; font-size: 12px; font-weight: bold; text-align: center; } 
#newMain .m_login_wrap.login .loginList { display: flex; flex-wrap: wrap; } 
#newMain .m_login_wrap.login .loginList li { width: calc(100% / 2); margin: 3px 0; } 
#newMain .m_login_wrap.login .loginList a { display: inline-flex; align-items: center; color: #000000; font-size: 14px; font-weight: 500; } 
#newMain .m_login_wrap.login .loginList a span { display: inline-block; margin-left: 12px; color: #008ae0; font-size: 18px; font-weight: bold; } 

#newMain .m_visual .m_counseling_wrap { margin-top: 14px; } 
#newMain .m_counseling_chat { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; padding: 12px 20px; background: linear-gradient(-45deg, #008ae0 40%, #fff 40%); color: #003281; font-size: 18px; border: 3px solid #008ae0; border-radius: 10px; } 
@keyframes fade { 
 0% { opacity: 1; } 
 50% { opacity: 0; } 
 100% { opacity: 1; } 
 }
@keyframes move { 
 0% { transform: rotate(0deg) } 
 25% { transform: rotate(-8deg); } 
 50% { transform: rotate(8deg); } 
 75% { transform: rotate(-8deg); } 
 100% { transform: rotate(0deg); } 
 }
 #newMain .m_counseling_chat > p { width: 100%; margin-bottom: 15px; color: #30a4c7; font-size: 16px; letter-spacing: -0.75px; } 
 #newMain .m_counseling_chat .chatTalk strong { display: flex; align-items: center; font-size: 22px; line-height: 1; letter-spacing: -0.5px; } 
 #newMain .m_counseling_chat .chatTalk strong::before { content: ''; display: inline-block; width: 57px; height: 53px; margin-right: 6px; background: url(https://www.jobaba.net/resource/images/main2023/icon_chat04.png) no-repeat; background-size: cover; } 
 #newMain .m_counseling_chat .chatLive { position: relative; } 
 #newMain .m_counseling_chat .chatLive::before { content: ''; width: 56px; height: 49px; position: absolute; top: -52px; right: 4px; background: url(https://www.jobaba.net/resource/images/main2023/icon_chat05.png) no-repeat; background-size: cover; animation: move 3s infinite; } 
 #newMain .m_counseling_chat .chatLive strong { display: flex; align-items: center; position: relative; color: #ffff00; font-size: 16px; font-family: 'GmarketSans'; font-weight: 500; } 
 #newMain .m_counseling_chat .chatLive strong::before { content: ''; width: 18px; height: 11px; position: absolute; top: -10px; left: 3px; background: url(https://www.jobaba.net/resource/images/main2023/icon_chat06.png) no-repeat; background-size: cover; animation: fade 3s infinite; } 
 #newMain .m_counseling_chat .chatLive strong::after { content: ''; display: inline-block; width: 12px; height: 13px; margin-left: 4px; background: url(https://www.jobaba.net/resource/images/main2023/icon_chat07.png) no-repeat; background-size: cover; } 

#newMain .m_visual .m_counseling_box { display: flex; justify-content: space-between; margin-top: 16px; } 
#newMain .m_visual .m_counseling_box a { position: relative; width: calc((100% - 10px) / 2); height: 94px; padding: 12px 15px; background: #003281; border: 1px solid #d6d6d6; border-radius: 5px; } 
#newMain .m_visual .m_counseling_box a::before { content: ''; position: absolute; right: 20px; bottom: 15px; background-size: contain; } 
#newMain .m_visual .m_counseling_box a.m_counseling_job::before { width: 36px; height: 36px; background: url(https://www.jobaba.net/resource/images/main2023/icon_job.png) no-repeat; } 
#newMain .m_visual .m_counseling_box a.m_counseling_recruit::before { width: 36px; height: 36px; background: url(https://www.jobaba.net/resource/images/main2023/icon_recruit.png) no-repeat; } 
#newMain .m_visual .m_counseling_box a span { color: #fff; font-size: 12px; } 
#newMain .m_visual .m_counseling_box a strong { color: #fff; font-size: 16px; } 
/* 메인 슬라이드 배너 */
#newMain .m_slide_banner { max-width: 1986px; margin: 0 auto; overflow: hidden; } 
#newMain .m_slide_banner .swiper-container { width: 100%; max-width: 1260px; padding: 0 0 36px 270px; margin: 0 auto 30px; overflow:visible; } 
#newMain .m_slide_banner .swiper-wrapper { margin-left: 15px; } 
#newMain .m_slide_banner .swiper-slide { display:flex; justify-content:center; align-items:flex-end; width: 330px; margin-right: 30px; border-radius: 20px; transition:none; overflow: hidden; box-sizing: border-box; } 
#newMain .m_slide_banner .swiper-pagination-bullet.swiper-pagination-bullet-active { width: 70px; border-radius: 10px; background: #003280; } 
#newMain .m_slide_banner .swiper-slide .imgWrap { width: 100%; height: 300px; } 
#newMain .m_slide_banner .swiper-slide .imgWrap img { width: 100%; height: 100%; max-height: 300px; } 
#newMain .m_slide_banner .swiper-slide .x2 { display: none; } 
#newMain .m_slide_banner .swiper-slide.swiper-slide-active .x1 { display: none; } 
#newMain .m_slide_banner .swiper-slide.swiper-slide-active .x2 { display: block; } 
#newMain .m_slide_banner .changing,
#newMain .m_slide_banner .changed { transform:translateX(-285px); -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; } 
#newMain .m_slide_banner .changing { transition:transform 0.3s; pointer-events:none; } 
#newMain .m_slide_banner .changed { transition:none; } 
#newMain .m_slide_banner .changing.swiper-slide-active,
#newMain .m_slide_banner .changed.swiper-slide-active { transform: scaleX(2.72728); border-radius: 5px / 15px; } 
#newMain .m_slide_banner .swiper-slide-active ~ .changing,
#newMain .m_slide_banner .swiper-slide-active ~ .changed { transform:translateX(285px); } 
#newMain .m_slide_banner .changing .imgWrap,
#newMain .m_slide_banner .changed .imgWrap { transform-origin:center bottom; } 
#newMain .m_slide_banner .changing .imgWrap { transition:transform 0.3s; } 
#newMain .m_slide_banner .changed .imgWrap { transition:none; } 

/* 정책정보 */
#newMain .m_policy { margin-bottom: 67px; } 
#newMain .m_policy .m_policy_tit { display: flex; align-items: center; margin-bottom: 26px; margin-right: 10px; } 
#newMain .m_policy .m_policy_tit a { padding: 2px 10px 2px; margin-left: auto; margin-top: 10px; background: #fff; color: #3e3d3d; font-size: 14px; border: 1px solid #dedcdc; border-radius: 20px; text-align: center; white-space: nowrap; transition: all 0.35s; } 
#newMain .m_policy .m_policy_tit a:hover { color: #fff; background: #008AE0; border: 1px solid #008AE0; } 
#newMain .m_policy .m_policy_tit h2 { margin: 0 40px 0 10px; flex-shrink: 0; } 
#newMain .m_policy .m_policy_btn { display: flex; width: 100%; } 
#newMain .m_policy .m_policy_btn li { display: flex; align-items: center; justify-content: center; width: 90px; position: relative; height: 38px; padding-left: 30px; background: #f5f5f5; color: #4e4e4e; font-size: 14px; font-weight: 500; letter-spacing: -0.5px; cursor: pointer; border-radius: 20px; box-sizing: border-box; } 
#newMain .m_policy .m_policy_btn li::before { content: ''; width: 30px; height: 30px; position: absolute; top: 50%; left: 4px; transform: translateY(-50%); } 
#newMain .m_policy .m_policy_btn li.icon01::before { background: url(https://www.jobaba.net/resource/images/main2023/icon_policy_btn01.png) no-repeat; background-size: cover; } 
#newMain .m_policy .m_policy_btn li.icon02::before { background: url(https://www.jobaba.net/resource/images/main2023/icon_policy_btn02.png) no-repeat; background-size: cover; } 
#newMain .m_policy .m_policy_btn li.icon03::before { background: url(https://www.jobaba.net/resource/images/main2023/icon_policy_btn03.png) no-repeat; background-size: cover; } 
#newMain .m_policy .m_policy_btn li.icon01.active { background: #147dff; color: #fff; } 
#newMain .m_policy .m_policy_btn li.icon02.active { background: #ff007e; color: #fff; } 
#newMain .m_policy .m_policy_btn li.icon03.active { background: #003281; color: #fff; } 
#newMain .m_policy .m_policy_btn li + li { margin-left: 10px; } 

#newMain .m_policy .m_policy_cont { display: none; position: relative; width: 100%; overflow: hidden; } 
#newMain .m_policy .m_policy_cont.active { display: flex; flex-direction: column; } 
#newMain .m_policy .swiper-container { width: 100% } 
#newMain .m_policy .swiper-button-next { right: 0; left: initial !important; color: #9facb6; } 
#newMain .m_policy .swiper-button-prev { left: 0; color: #9facb6; } 
#newMain .m_policy .swiper-slide a { display: block; position: relative; background: #fff; border: 1px solid #dddddd; border-radius: 20px; overflow: hidden; } 
#newMain .m_policy .m_policy_img { height: 180px; } 
#newMain .m_policy .m_policy_img img { width: 100%; height: 100%; object-fit: cover; object-position: top; } 
#newMain .m_policy .badge_wrap { display: flex; justify-content: space-between; position: absolute; top: 10px; left: 0; right: 0; padding: 0 10px; } 
#newMain .m_policy .badge_wrap .badge { padding: 1px 0; width: 55px; font-size: 14px; border-radius: 15px; text-align: center; } 
#newMain .m_policy .m_policy_txt { padding: 18px 20px; } 
#newMain .m_policy .m_policy_txt .tit { height: 48px; color: #000; font-size: 16px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; letter-spacing: -0.5px; min-height: 48px; } 
#newMain .m_policy .m_policy_txt .date { margin-top: 8px; color: #777777; font-size: 16px; font-weight: 300; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; letter-spacing: -0.5px; } 


#newMain .m_policy .m_tag { height: 50px; position: relative; margin-bottom: 26px; padding: 8px 40px; background: #f3f3f3; border-radius: 30px; overflow: hidden; } 
#newMain .m_policy .m_tag.active { height: auto; } 
#newMain .m_policy .m_tag .m_tag_btn { width: 12px; height: 7px; position: absolute; top: 22px; right: 20px; background: url(https://www.jobaba.net/resource/images/main2023/icon_arrow.png) no-repeat; background-size: cover; transition: all 0.3s; text-indent: -9999px; border: none; } 
#newMain .m_policy .m_tag.active .m_tag_btn { transform: rotate(-180deg) } 
#newMain .m_policy .m_tag a:before { content:"#"; } 
#newMain .m_policy .m_tag a { display: inline-block; padding: 4px 0; margin-right: 26px; color: #4e4e4e; font-size: 16px; font-weight: 300; } 
#newMain .m_policy .m_tag a:last-child { margin-right: 0; } 

#newMain .m_policy .btnWrap { display: flex; justify-content: space-between; margin-top: 30px; } 
#newMain .m_policy .btnWrap a { display: flex; align-items: center; width: calc(100% / 2 - 10px); position: relative; background: #d7eaef; padding: 18px 20px; color: #4e4e4e; font-size: 16px; border-radius: 10px; } 
#newMain .m_policy .btnWrap a.icon01::before { content: ''; display: inline-block; width: 28px; height: 28px; margin-right: 20px; background: url(https://www.jobaba.net/resource/images/main2023/icon_link_img01.png) no-repeat; background-size: cover; } 
#newMain .m_policy .btnWrap a.icon02::before { content: ''; display: inline-block; width: 28px; height: 26px; margin-right: 20px; background: url(https://www.jobaba.net/resource/images/main2023/icon_link_img02.png) no-repeat; background-size: cover; } 
#newMain .m_policy .btnWrap a::after { content: ''; width: 12px; height: 7px; position: absolute; top: 50%; right: 20px; background: url(https://www.jobaba.net/resource/images/main2023/icon_arrow.png) no-repeat; transform: translateY(-50%) rotate(-90deg); } 
#newMain .m_policy .btnWrap a.policyMore { display: none; width: 290px; justify-content: center; margin: 0 auto; padding: 12px 20px; background: #fff; border: 1px solid #dcdcdc; border-radius: 10px; } 

/*로그인 메세지*/
.login_massage2 { padding:2px 12px 2px 20px !important; display:block; background:url('https://www.jobaba.net/resource/images/profile_user.png') no-repeat left 50%; color:#eaf8fb!important; } 

/* 채용정보 */
#newMain .m_employ { position: relative; padding-top: 50px; margin-bottom: 50px; } 
#newMain .m_employ::before { content: ''; width: 100%; height: 348px; top: 0; position: absolute; background: url(https://www.jobaba.net/resource/images/main2023/employ_bg.jpg) no-repeat; background-size: cover; } 
#newMain .m_employ .m_employ_wrap { position: relative; display: flex; justify-content: space-between; } 
#newMain .m_employ .m_employ_wrap .m_employ_box { width: calc((100% - 30px) / 2); position: relative; padding: 40px 40px 60px; background: #fff; border: 1px solid #dddddd; border-radius: 20px; overflow: hidden; } 
#newMain .m_employ .m_employ_tit { display: flex; align-items: center; justify-content: space-between; margin-bottom: 26px; } 
#newMain .m_employ .m_employ_tit ul { display: flex; } 
#newMain .m_employ .m_employ_tit ul li { position: relative; color: #666666; font-size: 14px; font-weight: 600; cursor: pointer; } 
#newMain .m_employ .m_employ_tit ul li + li { margin-left: 30px; } 
#newMain .m_employ .m_employ_tit ul li.active { color: #38bab2; } 
#newMain .m_employ .m_employ_tit ul li.active::after { content: ''; width: 100%; height: 1px; position: absolute; bottom: -4px; left: 0; background: #38bab2; } 
#newMain .m_employ .m_employ_slide { overflow: hidden; } 
#newMain .m_employ .swiper-slide { position: relative; padding-bottom: 10px; background: #fff; border-radius: 10px; height: auto; border: 1px solid #dddddd; overflow: hidden; } 
#newMain .m_employ .m_employ_slide .badge_wrap { position: absolute; top: 4px; right: 10px; left: 10px; text-align: right; } 
#newMain .m_employ .m_employ_slide .m_employ_img { height: 165px; overflow: hidden; } 
#newMain .m_employ .m_employ_slide .m_employ_img img { width: 100%; height: 100%; object-fit: cover; object-position: top; } 
/* 2023.07.14 */
#newMain .m_employ .m_employ_slide .swiper-wrapper a:nth-child(3),
#newMain .m_employ .m_employ_slide .swiper-wrapper a:nth-child(4) { display: none; } 
#newMain .m_employ .m_employ_slide .e_employ_txt { position: relative; padding: 20px 10px 0; } 
#newMain .m_employ .m_employ_slide .e_employ_txt .employLogo { width: 150px; height: 50px; margin: 0 auto 20px; background: #fff; overflow: hidden; } 
#newMain .m_employ .m_employ_slide .e_employ_txt .employLogo img { width: 100%; height: 100%; object-fit: contain; } 
#newMain .m_employ .m_employ_slide .e_employ_txt .tit { margin-bottom: 10px; color: #000; font-size: 18px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; } 
#newMain .m_employ .m_employ_slide .e_employ_txt .txt { margin-bottom: 10px; color: #808080; font-size: 14px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; } 
#newMain .m_employ .m_employ_slide .e_employ_etc { padding: 0 10px; margin-bottom: 10px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; } 
#newMain .m_employ .m_employ_slide .e_employ_etc span { background: #c6e7f0; padding: 0 4px; font-size: 12px; border-radius: 5px; } 
#newMain .m_employ .m_employ_slide .e_employ_etc span + span { margin-left: 2px; } 
/* 2023.07.18 */
#newMain .m_employ .m_employ_items01.item_style02 .swiper-slide { padding-bottom: 3px; margin-bottom: 20px; } 
#newMain .m_employ .m_employ_items01.item_style02 .e_employ_txt { padding: 30px 10px 0; } 
#newMain .m_employ .m_employ_items01.item_style02 .e_employ_txt .txt { margin-bottom: 0; } 
#newMain .m_employ .m_employ_items01.item_style02 .employLogo { margin: 0 auto 10px; } 




#newMain .m_employ .m_employ_list a { display: flex; justify-content: space-between; padding: 10px 0; } 
#newMain .m_employ .m_employ_list a .detail { margin-top: 10px; color: #666666; font-size: 14px; } 
#newMain .m_employ .m_employ_list a:hover .detail span { position: relative; color: #38bab2; } 
#newMain .m_employ .m_employ_list a:hover .detail span::after { content: ''; width: 100%; height: 1px; position: absolute; left: 0; bottom: -4px; background: #38bab2; } 
#newMain .m_employ .m_employ_item .tit { display: inline-block; margin-right: 10px; color: #808080; font-size: 14px; } 
#newMain .m_employ .m_employ_item .badge_wrap { display: inline-block; } 
#newMain .m_employ .m_employ_item .badge_wrap .badge { display: inline-block; padding: 0 6px; font-size: 12px; border-radius: 10px; text-align: center; } 
#newMain .m_employ .m_employ_item .badge_wrap span + span { margin-left: 4px; } 
#newMain .m_employ .m_employ_item .txt { max-width: 700px; margin-bottom: 6px; color: #008ae0; font-size: 16px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; } 
#newMain .m_employ .m_employ_item.right { text-align: right; flex-shrink: 0; } 
#newMain .m_employ .m_employ_item.right > span { display: block; color: #808080; font-size: 15px; } 
#newMain .m_employ .m_employ_item.right > span + span { display: none; } 
#newMain .m_employ .m_employ_item.right { position: relative; color: #666666; font-size: 14px; } 
#newMain .m_employ .m_employ_more { position: absolute; left: 0; right: 0; bottom: 0; background: #f6f6f6; text-align: center; } 
#newMain .m_employ .m_employ_more a { display: block; padding: 12px 0; color: #313131; font-size: 16px; } 
#newMain .m_employ .e_employ_info { display: flex; justify-content: space-between; margin-bottom: 20px; } 
#newMain .m_employ .e_employ_info > a { width: calc((100% - 20px) / 2); position: relative; padding: 10px; border: 1px solid #dddddd; background: #f6f6f6; border-radius: 10px; height: 185px; } 
#newMain .m_employ .e_employ_info .e_employ_txt .tit { margin-bottom: 10px; color: #888888; font-size: 15px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; } 
#newMain .m_employ .e_employ_info .e_employ_txt .txt { height: 48px; margin: 20px 0 10px; color: #000; font-size: 16px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; } 
#newMain .m_employ .e_employ_info .e_employ_txt .etc { color: #888888; font-size: 13px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; } 
#newMain .m_employ .m_employ_slide .badge_wrap .badge,
#newMain .m_employ .e_employ_info .badge_wrap .badge { min-width: 46px; padding: 0 6px; font-size: 12px; border-radius: 10px; text-align: center; } 
#newMain .m_employ .e_employ_info .badge_wrap { display: flex; justify-content: space-between; } 
#newMain .m_employ .m_employ_items01, #newMain .m_employ .m_employ_items02 { display: none; } 
#newMain .m_employ .m_employ_items01.active, #newMain .m_employ .m_employ_items02.active { display: block; } 
/* 잡아바 러닝센터 */
#newMain .m_educenter .m_eduwrap { position: relative; display: flex; justify-content: space-between; padding: 45px 30px 45px 40px; margin-bottom: 50px; background: #dbeefb; border-radius: 20px; } 
#newMain .m_educenter .m_eduwrap::before { content: ''; width: 201px; height: 85px; position: absolute; bottom: 40px; left: 33px; background: url(https://www.jobaba.net/resource/images/main2023/educenter_img01.png); } 
#newMain .m_educenter .m_edutxt p { color: #666666; font-size: 15px; } 
#newMain .m_educenter .swiper-slide a { display: block; background: #fff; border: 2px solid #fff; border-radius: 20px; overflow: hidden; } 
#newMain .m_educenter .swiper-button-next { right: 0; left: initial !important; color: #9facb6; } 
#newMain .m_educenter .swiper-button-prev { left: 0; color: #9facb6; } 
#newMain .m_educenter .m_edu_img { height: 186px; } 
#newMain .m_educenter .m_edu_img img { width: 100%; height: 100%; object-fit: cover; } 
#newMain .m_educenter .m_edu_txt { padding: 8px 15px; } 
#newMain .m_educenter .m_edu_txt .tit { color: #000; font-size: 16px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; letter-spacing: -0.5px; } 
#newMain .m_educenter .m_edu_txt .date { color: #666666; font-size: 12px; font-weight: 300; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; letter-spacing: -0.5px; } 
#newMain .m_educenter .swiper-container { width: calc(100% - 76px); } 
#newMain .m_educenter .m_educont { position: relative; width: calc(100% - 300px); overflow: hidden; } 
#newMain .m_educenter .swiper-slide { display: flex; } 
#newMain .m_educenter .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; } 
/* 유용한 꿀팁 */
#newMain .m_useful .m_useful_wrap { padding: 28px 36px; margin-bottom: 62px; background: #f0f0f0; border-radius: 20px; } 
#newMain .m_useful .m_useful_btn { display: flex; margin: 16px 0; } 
#newMain .m_useful .m_useful_btn li { padding: 4px 20px; color: #666666; font-size: 16px; font-weight: 600; cursor: pointer; border-radius: 20px; } 
#newMain .m_useful .m_useful_btn li.active { color: #fff; background: #003281; } 
#newMain .m_useful .m_useful_cont { display: none; } 
#newMain .m_useful .m_useful_cont.active { display: flex; justify-content: space-between; } 
#newMain .m_useful .m_useful_cont a { width: calc((100% - 60px) / 4); } 
#newMain .m_useful .m_useful_cont a + a { margin-left: 14px; } 
/* 2023.07.14 */
#newMain .m_useful .m_useful_thumb { height: auto; max-height: 160px; border: 2px solid #fff; border-radius: 5px; overflow: hidden; } 
#newMain .m_useful .m_useful_thumb img { width: 100%; height: 100%; object-fit: cover; } 
#newMain .m_useful .m_useful_txt { padding: 14px 10px; } 
#newMain .m_useful .m_useful_txt p { margin-bottom: 4px; color: #808080; font-size: 12px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; } 
#newMain .m_useful .m_useful_txt strong { color: #000; font-size: 14px; text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-break: break-all; } 
/* 모바일 배너 */
#newMain .m_banner { display: none; } 
#newMain .m_banner .m_banner_mobile { max-width: 750px; position: relative; margin: auto; } 
/* footer */
#newFooter .nfooter_top { background: #fff; border-top: 1px solid #ededed; border-bottom: 1px solid #ededed; margin-top: 15px; } 
#newFooter .f_util { display: flex; align-items: center; justify-content: center; position: relative; padding: 13px 0; } 
#newFooter .f_nav { display: flex; } 
#newFooter .f_nav li a { color: #444; font-size: 14px; } 
#newFooter .f_nav li + li::before { background: #444; } 
#newFooter .f_nav li { position: relative; } 
#newFooter .f_nav li + li { margin-left: 15px; padding-left: 15px; } 
#newFooter .f_nav li + li::before { content: ''; display: block; width: 1px; height: 8px; position: absolute; top: 10px; left: 0; background: #ddd; } 
#newFooter .nfooter_top .f_sns { position: absolute; right: 10px; } 
#newFooter .f_sns { display: flex; } 
#newFooter .f_sns li + li { margin-left: 4px; } 
#newFooter .f_sns li a { display: block; width: 32px; height: 32px; text-indent: -9999px; background-position: center center; background-repeat: no-repeat; background-size: cover; } 
#newFooter .f_sns li a.blog { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_sns_01.png); } 
#newFooter .f_sns li a.face { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_sns_02.png); } 
#newFooter .f_sns li a.insta { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_sns_03.png); } 
#newFooter .f_sns li a.youtu { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_sns_04.png); } 
#newFooter .f_sns li a.app { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_sns_05.png); } 
#newFooter .f_sns li a.play { background-image: url(https://www.jobaba.net/resource/images/main2023/icon_sns_06.png); } 

#newFooter .f_btn_wrap { display: block; margin-bottom: 30px; text-align: center; } 
#newFooter .f_btn_wrap .footer_btn { display: block; width: 100%; padding: 10px 0; border: none; } 
#newFooter .f_btn_wrap .footer_btn span { position: relative; color: #000; } 
#newFooter .f_btn_wrap .footer_btn span + span { margin-left: 60px; } 
#newFooter .f_btn_wrap .footer_btn span + span::before { content: ''; display: block; width: 12px; height: 7px; position: absolute; top: 50%; left: -35px; transform: translateY(-50%); background: url(https://www.jobaba.net/resource/images/main2023/icon_arrow.png) no-repeat; transition: all 0.3s; } 
#newFooter .f_btn_wrap .footer_btn.active span + span::before { transform: rotate(180deg); margin-top: -5px; } 

#newFooter .f_business .f_logo { display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; } 
#newFooter .f_business .f_sns { display: none; } 
#newFooter .f_enquiry { margin-top: 20px; padding: 20px; background: #F7F7F7; border-radius: 10px; } 
#newFooter .f_enquiry dl { display: flex; color: #3e332e; } 
#newFooter .f_enquiry dl:nth-child(1) { margin-bottom: 10px; } 
#newFooter .f_enquiry dl:nth-child(1) dt { color: #010101; font-weight: bold; } 
#newFooter .f_enquiry dl:nth-child(1) span { display: inline-block; } 
#newFooter .f_enquiry dt { flex-shrink: 0; min-width: 110px; margin-right: 10px; } 

#newFooter .f_address { padding: 20px 0; } 
#newFooter .f_address .f_addr { display: none; color: #838282; font-size: 13px; letter-spacing: -1px; } 
#newFooter .footer_wrap { display: none; } 

@media screen and (max-width: 1300px){
 #newMain .m_slide_banner .swiper-container { max-width: 100%; padding: 0 0 60px 0; } 
 }

@media screen and (max-width: 1200px) {/* 헤더 */
 #newHeader .h_gnb_bg::after { content: none; } 
 #newHeader .h_gnb_menu { grid-template-columns: auto; } 
 #newHeader .h_gnb_menu .gnb_item.links ul { display: grid; grid-template-columns: repeat(4, 1fr); } 

/* 메인 메뉴 */
 #newMain .m_visual .m_search_cont .search_wrap { width: 100%; } 
 #newMain .m_visual .m_search_cont::before { width: 80px; top: -8px; transform: none; } 
 }
@media screen and (max-width: 1024px) {/* 메인 메뉴 */
 #newMain .m_visual .m_search_cont .tit { margin: 10px 0 20px 20px; font-size: 18px; } 
 
 #newMain .m_visual .m_visual_items li { width: calc(100% / 3); } 
 #newMain .m_visual .m_visual_items li:nth-child(-n + 3) { margin-bottom: 10px; } 
 #newMain .m_visual .m_visual_items li a::before { margin: 0 auto 2px auto; } 
 #newMain .m_visual .m_search_cont::before { top: -20px; } 
 /* 채용정보 */
 #newMain .m_employ .m_employ_wrap { flex-direction: column; justify-content: center; } 
 #newMain .m_employ .m_employ_wrap .m_employ_box { width: 100%; } 
 #newMain .m_employ .m_employ_wrap .m_employ_box + div { margin-top: 20px; } 
 /* 정책정보 */
 #newMain .m_policy .m_policy_img { height: auto; } 
 }
@media screen and (max-width: 860px) { /* 헤더 */
 #newHeader .nheader_mid { overflow: hidden; } 
 #newHeader .h_cont { flex-wrap: wrap; height: auto; } 
 #newHeader .h_util { height: 4px; } 
 #newHeader .h_util ul { display: none; } 
 #newHeader .h_gnb::before { content: ''; width: 120%; height: 1px; position: absolute; top: 0; left: -20px; background: #dadada; } 
 #newHeader .h_gnb { position: relative; margin-right: 0; order: 3; } 
 #newHeader .h_gnb li a { padding: 0; } 
 #newHeader .h_gnb_bg { display: none !important; } 
 #newHeader.fixed_gnb .h_gnb { display: none; } 
/* 2023.07.11 추가 */
#newHeader .h_gnb > li:hover .depth_02 { display: none; } 

 /* 메인 메뉴 */
 #newMain { padding: 0 0 24px; } 
 #newMain .m_visual .innerSection { padding: 0; } 
 #newMain .m_visual .m_login_form { display: none; } 
 #newMain .m_visual .m_visual_cont { width: 100%; padding: 40px 15px 20px; } 
 #newMain .m_visual .m_visual_items { padding: 0; } 

 /* 메인 슬라이드 배너 */
 #newMain .m_slide_banner .swiper-slide .imgWrap { height: auto; } 
 #newMain .m_slide_banner .swiper-slide .imgWrap .x1 { display: block; max-height: 380px; object-fit: cover; } 
 #newMain .m_slide_banner .swiper-slide .imgWrap .x2 { display: none; } 
 #newMain .m_slide_banner .swiper-wrapper { margin-left: 0; } 
 #newMain .m_slide_banner .swiper-slide { margin-right: 0; } 
 #newMain .m_slide_banner .changing,
 #newMain .m_slide_banner .changed { transform:none; -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; } 
 #newMain .m_slide_banner .swiper-slide-active ~ .changing,
 #newMain .m_slide_banner .swiper-slide-active ~ .changed { transform:none; } 
 #newMain .m_slide_banner .changing.swiper-slide-active .imgWrap,
 #newMain .m_slide_banner .changed.swiper-slide-active .imgWrap { transform:none; } 
 #newMain .m_slide_banner .changing.swiper-slide-active,
 #newMain .m_slide_banner .changed.swiper-slide-active { transform:none; border-radius: 20px; } 

 /* 2023.07.14 */
 /* 채용정보 */
 #newMain .m_employ .m_employ_list a { flex-direction: column; } 
 #newMain .m_employ .m_employ_list a .detail { display: none; } 
 #newMain .m_employ .m_employ_item.right { display: flex; align-items: center; margin-top: 8px; text-align: left; } 
 #newMain .m_employ .m_employ_item.right span + span { display: block; position: relative; margin-left: 8px; padding-left: 8px; } 
 #newMain .m_employ .m_employ_item.right span + span::before { content: ''; width: 1px; height: 12px; position: absolute; left: 0; top: 8px; background: #d2d2d2; } 
 }
@media screen and (max-width: 768px) {/* 정책정보 */
 #newMain .m_policy { margin-bottom: 20px; } 
 #newMain .m_policy .innerSection { padding: 0; } 
 #newMain .m_policy .m_policy_info { flex-direction: column; } 
 #newMain .m_policy .m_policy_cont .swiper-navigation { display: none; } 
 #newMain .m_policy .m_policy_cont { width: 100%; } 
 #newMain .m_policy .swiper-container { width: 100%; margin-left: 20px; } 
 #newMain .m_policy .btnWrap a:nth-child(1),
 #newMain .m_policy .btnWrap a:nth-child(2) { display: none; } 
 #newMain .m_policy .btnWrap a.policyMore { display: flex; } 
 #newMain .m_policy .m_tag { margin: 0 10px 26px; } 
 /* 채용중인 탐나는 기업 */
 #newMain .m_employ .innerSection { padding: 0; } 
 #newMain .m_employ::before { content: none; } 
 #newMain .m_employ { padding-top: 20px; margin-bottom: 20px; } 
 #newMain .m_employ .m_employ_wrap .m_employ_box { padding: 0; border: none; } 
 #newMain .m_employ .m_employ_tit h2 { margin-left: 20px; } 
 #newMain .m_employ .m_employ_tit ul { display: none; } 
 #newMain .m_employ .m_employ_items01 .m_employ_list { display: none; } 
 #newMain .m_employ .m_employ_more { position: static; background: none; margin-top: 20px; } 
 #newMain .m_employ .m_employ_more a { position: relative; width: 290px; margin: 0 auto; text-indent: -9999px; border: 1px solid #dcdcdc; border-radius: 10px; overflow: hidden; } 
 #newMain .m_employ .m_employ_items01 .m_employ_more a::before { content: '채용중인 탐나는 기업 더보기 >'; width: 100%; height: 50px; position: absolute; top: 0; bottom: 0; left: 50%; background: #fff; transform: translateX(-50%); text-indent: initial; line-height: 50px; } 
 #newMain .m_employ .m_employ_slide { margin-left: 20px; } 
 #newMain .m_employ .swiper-slide { margin-top: 0 !important; } 
 #newMain .m_employ .m_employ_slide .swiper-wrapper a:nth-child(3),
 #newMain .m_employ .m_employ_slide .swiper-wrapper a:nth-child(4) { display: block; } 
 /* 채용정보 */
 #newMain .m_employ .e_employ_info { display: none; } 
 #newMain .m_employ .m_employ_wrap .m_employ_box + div { padding: 20px 0; background: #f5f5f5; border-radius: initial; } 
 #newMain .m_employ .m_employ_items02 .m_employ_list { display: block; margin: 0 20px; border-color: #d2d2d2; } 
 #newMain .m_employ .m_employ_wrap .m_employ_box + div .m_employ_tit { margin-bottom: 0; } 
 #newMain .m_employ .m_employ_items02 .m_employ_more a::before { content: '채용정보 더보기 >'; width: 100%; height: 50px; position: absolute; top: 0; bottom: 0; left: 50%; background: #fff; transform: translateX(-50%); text-indent: initial; line-height: 50px; } 
 /* 잡아바 러닝 센터 */
 #newMain .m_educenter { display: none; } 
 /* 아주 유용한 꿀팁 */
 #newMain .m_useful { display: none; } 
 /* 모바일 배너 */
 #newMain .m_banner { display: block; } 
 /* footer */
 #newFooter .nfooter_top .f_sns { display: none; } 
 #newFooter .f_business .f_sns { display: flex; } 
 #newFooter .f_business .f_addr { display: none; } 
 #newFooter .f_address .f_addr { display: block; } 
 }
@media screen and (max-width: 640px){
 .innerSection { padding: 0 10px; } 

 /* 헤더 */
 #newHeader .h_cont { margin-top: 0; } 
 #newHeader .h_cont .logo a { padding: 15px 0; } 
 #newHeader .h_gnb li a { height: 50px; font-size: 14px; line-height: 50px; } 
 #newHeader .h_menu { width: 20px; height: 12px; } 
 #newHeader .h_menu span { width: 20px; height: 2px; } 
 #newHeader .h_search { margin-left: 12px; } 
 #newHeader .h_search img { width: 20px; } 

 /* 메인 메뉴 */
 #newMain h2 { font-size: 22px; } 
 #newMain .m_visual { margin-bottom: 30px; } 
 #newMain .m_visual .m_search_cont ul li { width: 50px; padding: 2px 0; font-size: 14px; } 

 #newMain .m_visual .m_search_cont .search_wrap { padding: 4px 10px; } 
 #newMain .m_visual .m_search_cont .search_wrap button { width: 16px; height: 16px; background-size: cover; } 

 #newMain .m_visual .m_notice_wrap { padding: 0 15px; } 
 #newMain .m_visual .m_notice_wrap strong { margin-right: 17px; font-size: 14px; line-height: 35px; } 
 #newMain .m_visual .m_notice_wrap .swiper-container { height: 35px; padding-right: 26px; } 
 #newMain .m_visual .m_notice_wrap .swiper-slide a { font-size: 14px; line-height: 35px; } 
 #newMain .m_visual .m_notice_wrap .swiper-button-prev { bottom: 4px; } 
 #newMain .m_visual .m_notice_wrap .swiper-button-next { top: 26px; } 
 /* 메인 슬라이드 배너 */
 #newMain .m_slide_banner .swiper-container { padding: 0 0 46px; margin: 0 auto 10px; } 

 /* 정책정보 */
 #newMain .m_policy .m_policy_tit a { display: none; } 
 #newMain .m_policy h2 { flex-shrink: 0; margin: 0px 0 10px 28px; } 
 #newMain .m_policy .badge_wrap .badge { width: 40px; font-size: 10px; } 
 #newMain .m_policy .m_policy_txt { padding: 10px; } 
 #newMain .m_policy .m_policy_txt .tit { height: auto; font-size: 14px; } 
 #newMain .m_policy .m_policy_txt .date { margin-top: 4px; font-size: 14px; } 
 #newMain .m_policy .m_tag { height: 30px; margin: 20px 10px 0; padding: 2px 25px 2px 20px; background: #ffeaef; border-radius: 10px; order:2; } 
 #newMain .m_policy .m_tag a { margin-right: 6px; padding: 6px 0; font-size: 14px; } 
 #newMain .m_policy .m_tag .m_tag_btn { top: 12px; right: 14px; } 
 #newMain .m_policy .btnWrap { order: 3; } 

 /* 채용중인 탐나는 기업 */
 #newMain .m_employ .m_employ_tit { margin-bottom: 10px; } 
 #newMain .m_employ .m_employ_slide .badge_wrap .badge, #newMain .m_employ .e_employ_info .badge_wrap .badge { min-width: 40px; font-size: 10px; } 
 #newMain .m_employ .m_employ_slide .e_employ_txt { padding: 10px 10px 0; } 
 #newMain .m_employ .m_employ_slide .e_employ_txt .tit { font-size: 14px; } 
 #newMain .m_employ .m_employ_slide .e_employ_txt .employLogo { width: 100%; position: static; transform: none; text-align: center; } 
 #newMain .m_employ .m_employ_slide .e_employ_txt .employLogo img { width: 50%; } 

 #newMain .m_employ .m_employ_more a { width: 90%; } 
 #newMain .m_employ .m_employ_items01 .m_employ_more a::before { font-size: 16px; } 
 #newMain .m_policy .btnWrap a.policyMore { width: 100%; } 

 /* 채용정보 */
 #newMain .m_employ .m_employ_items02 .m_employ_more a::before { font-size: 16px; } 
 #newMain .m_employ .m_employ_item .tit { font-size: 16px; } 
 #newMain .m_employ .m_employ_item .badge_wrap .badge { font-size: 10px; } 
 #newMain .m_employ .m_employ_item.right span { font-size: 13px; } 
 /* footer */
 #newFooter .f_business .f_logo > a img { width: 100px; } 
 #newFooter .f_enquiry dl { font-size: 13px; } 


/* 모바일 메뉴 수정 */
#newMain .m_visual .m_search_cont .tit { display: none; } 
#newMain .m_visual .m_search_cont::before { width: 50px; top: -32px; } 

#newMain .m_visual .m_search_cont .search_wrap input { font-size: 12px; } 
#newMain .m_visual .m_search_cont .search_wrap input::placeholder { color: #999; } 
#newMain .m_visual .m_search_cont .m_visual_keyword::before { content: none; }  
#newMain .m_visual .m_search_cont .m_visual_keyword.active { display: flex; padding-left: 0; margin-bottom: 10px; overflow: scroll; } 
#newMain .m_visual .m_search_cont .m_visual_keyword.active a { font-size: 14px; white-space: nowrap; } 
#newMain .m_visual .m_search_cont .m_visual_keyword .txt { font-size: 14px; white-space: nowrap; } 
#newMain .m_visual .m_search_cont .m_visual_keyword.active a + a { margin-left: 4px; } 
#newMain .m_visual .m_visual_notice { display: none; } 

#newMain .m_visual .itemSwiper { overflow: hidden; } 
#newMain .m_visual .m_visual_items { margin-bottom: 10px; flex-wrap: nowrap; } 
#newMain .m_visual .m_visual_items li { height: 100%; } 

#newMain .m_visual .m_visual_items li { width: auto; } 
#newMain .m_visual .m_visual_items li a { padding: 10px 4px; background: #fff; border-radius: 10px; } 
#newMain .m_visual .m_visual_items li a .txt { display: inline-block; min-width: 72px; font-size: 12px; white-space: nowrap; } 
#newMain .m_visual .m_visual_items li a:hover::before { border: none; box-shadow: none; } 
#newMain .m_visual .m_visual_items li a::before { width: 100%; height: 20px; margin-bottom: 0; background-size: contain; } 
#newMain .m_visual .m_visual_cont { padding: 40px 15px 10px; } 
#newMain .m_visual .m_visual_items li:nth-child(-n + 3) { margin-bottom: 0; } 
#newMain .m_visual .m_visual_items li:nth-child(1) {order: 3;}
#newMain .m_visual .m_visual_items li:nth-child(2) {order: 4;}
#newMain .m_visual .m_visual_items li:nth-child(3) {order: 5;}
#newMain .m_visual .m_visual_items li:nth-child(4) {order: 6;}
#newMain .m_visual .m_visual_items li:nth-child(5) {order: 2;}
#newMain .m_visual .m_visual_items li:nth-child(6) { min-width: 110px !important; order: 1;} 
#newMain .m_visual .m_visual_items li.empty { visibility: hidden; display: block; } 
}
@media screen and (max-width: 480px) { /* 헤더 */
 #newHeader .nheader_bottom .innerSection { padding: 0; } 
 #newMain .m_policy .m_policy_tit h2 { margin: 0 15px 0 10px; } 
 #newMain .m_policy .m_policy_btn li { width: calc(100% / 3); height: 30px; padding: 1px 0 2px 20px; font-size: 12px; } 
 #newMain .m_policy .m_policy_btn li + li { margin-left: 2px; } 
 #newMain .m_policy .m_policy_btn li::before { width: 20px; height: 20px; } 
 /* footer */
 #newFooter .f_nav { white-space: nowrap; overflow-x: scroll; } 
 }