.topCompany * { font-family: 'GmarketSans'; font-weight: 500; line-height: 1.4; } 
.topCompany .cont02 *,
.topCompany .cont03 *,
.topCompany .cont04 * { font-family: 'Noto Sans KR', sans-serif; font-weight: 500; line-height: 1.4; } 
.topCompany .innerSection { max-width: 1280px; padding: 0 10px; margin: 0 auto; } 
.topCompany .gBold { font-family: 'GmarketSans'; font-weight: 700; } 
.topCompany .fcBlue { color: #2a73c5; } 
.topCompany .fcBlue02 { color: #003281; } 
.topCompany .fcYellow { color: #fdff2c; } 
.topCompany .fcRed { color: #ff0000; } 

.topCompany .bcSkyblue { background: #d0eef9; } 
.topCompany .bcWhite { background: #fff; } 

.topCompany .industryMain { padding: 80px 0; background: url(../images/topCompany/main_bg.jpg) no-repeat center; height: 390px; } 
.topCompany .mainVisual { position: relative; margin-left: 90px; } 
.topCompany .mainVisual h2 { margin-bottom: 20px; color: #000; font-size: 50px; letter-spacing: -2px; } 
.topCompany .mainVisual p { color: #000; font-size: 24px; } 

.topCompany .cont01 { padding: 100px 0 140px; background: #fff; } 
.topCompany h3 { margin: 0 170px 60px; padding: 18px 36px 8px; font-size: 48px; text-align: center; border-radius: 50px; word-break: keep-all; } 

.topCompany .boxItem .banner { padding: 50px 0; background: url(../images/topCompany/item_bg.png) center center #6c8fb6 no-repeat; border-radius: 30px; text-align: center; color: #fff; font-size: 36px; } 
.topCompany .boxItem .banner p { margin: 20px 0; font-size: 32px; } 
.topCompany .boxItem + .boxItem { margin-top: 140px; } 

.topCompany .boxItem.style02 { padding: 100px 40px; position: relative; background: #fff; border: 5px solid #d0eef9; border-radius: 50px; } 
.topCompany .boxItem.style02 h3 { margin: 0; position: absolute; top: -50px; left: 50%; transform: translateX(-50%); white-space: nowrap; } 
.topCompany .boxItem.style02 .evBtnWrap { position: absolute; bottom: -24px; left: 50%; transform: translateX(-50%); } 
.topCompany .boxItem.style02 .evBtnWrap a { padding: 22px 24px 18px; background: #fdff2c; color: #000; font-size: 28px; text-align: center; border: 2px solid #000; border-radius: 50px; box-shadow: 0 3px 0 #000; white-space: nowrap; } 
.topCompany .boxItem .itemList ul { display: flex; justify-content: space-between; } 
.topCompany .boxItem .itemList li { width: calc(100% / 3 - 20px); padding: 46px 15px; text-align: center; border-radius: 20px; transition: all 0.35s; } 
.topCompany .boxItem .itemList li:hover { transform: scale(1.1); } 
.topCompany .boxItem .itemList li:hover strong { font-size: 60px; } 
.topCompany .boxItem .itemList li:hover p { margin-top: 10px; font-size: 30px; letter-spacing: -3.6px; } 

.topCompany .boxItem .itemList li:hover strong::before { transform: scale(1.2); } 
.topCompany .boxItem .itemList li:nth-child(1) { background: #cbf2d1; } 
.topCompany .boxItem .itemList li:nth-child(2) { background: #fff4b5; } 
.topCompany .boxItem .itemList li:nth-child(3) { background: #e8dcf8; } 
.topCompany .boxItem .itemList li strong { font-size: 40px; font-weight: 700; transition: all 0.35s; } 
.topCompany .boxItem .itemList li strong::before { content: ''; display: block; width: 155px; height: 155px; margin: 0 auto 40px; border-radius: 50%; transition: all 0.35s; } 
.topCompany .boxItem .itemList li:nth-child(1) strong::before { background: url(../images/topCompany/list_icon01.png) center center #fff no-repeat; } 
.topCompany .boxItem .itemList li:nth-child(2) strong::before { background: url(../images/topCompany/list_icon02.png) center center #fff no-repeat; } 
.topCompany .boxItem .itemList li:nth-child(3) strong::before { background: url(../images/topCompany/list_icon03.png) center center #fff no-repeat; } 
.topCompany .boxItem .itemList li p { margin-top: 40px; font-size: 26px; letter-spacing: -1px; transition: all 0.35s; } 

.topCompany .cont02 { background: url(../images/topCompany/cont02_bg.png) top center #a6d0cb no-repeat; } 
.topCompany .cont02 .innerSection { padding: 120px 10px 110px; } 
.topCompany .cont02 h3 { margin: 0 220px 60px; } 

.topCompany .cnt_wrap { margin-bottom: 30px; } 
.topCompany .cnt_wrap .cnt { font-size: 36px; } 
.topCompany .item { display: flex; background: #fff; border: 1px solid #ccc; border-radius: 10px; padding: 24px; justify-content: space-between; align-items: center; } 
.topCompany .item > div:nth-child(1) { flex-shrink: 0; width: 200px; text-align: center; font-size: 24px; font-weight: 700; color: #333; } 
.topCompany .item > div:nth-child(2) { flex-grow: 1; margin-left: 30px; padding-left: 30px; border-left: 1px solid #e2e2e2; } 
.topCompany .item .rctit { font-size: 20px; font-weight: 500; } 
.topCompany .item button.like { background: url(../images/jobIndustry/like.png) no-repeat 50% 55%; width: 30px; height: 30px; border: 1px solid #e2e2e2; border-radius: 50%; text-indent: 100%; white-space: nowrap; overflow: hidden; margin-right: 10px; } 
.topCompany .rclist .item button.like.active { border-color: #211314; background: url(../images/jobIndustry/like_active.png) no-repeat 50% 55%; } 
.topCompany .rclist .item .rcdesc_wrap { display: flex; justify-content: space-between; align-items: flex-end; padding: 16px 0; border-bottom: 1px dashed #ccc; } 
.topCompany .rclist .item .rcdesc_wrap > div:nth-child(1) { flex-grow: 1; color: #787878; font-size: 14px; line-height: 1.8; } 
.topCompany .rclist .item .rcdesc_wrap > div:nth-child(1) li { float: left; } 
.topCompany .rclist .item .rcdesc_wrap > div:nth-child(1) li + li { margin-left: 10px; padding-left: 10px; position: relative; } 
.topCompany .rclist .item .rcdesc_wrap > div:nth-child(1) li + li::before { content: "|"; margin-right: 10px; font-size: 10px; color: #d4d4d4; position: absolute; top: 2px; left: 0; } 
.topCompany .rclist .item .rcdesc_wrap > div:nth-child(2) { flex-shrink: 0; width: 200px; text-align: right; font-size: 14px; font-weight: 700; color: #ff6163; } 
.topCompany .rclist .item .cert_wrap { padding: 16px 0 0; } 
.topCompany .rclist .item .cert_wrap > div { display: flex; justify-content: flex-end; } 
.topCompany .rclist .item .cert_wrap > div a { display: block; border: 1px solid blue; } 
.topCompany .rclist .item .cert_wrap > div a + a { margin-left: 4px; } 
.topCompany .rclist .item .cert_wrap .detailBtn { display: inline-block; padding: 6px 30px 6px; background-color: #fff; color: #38bab2; font-size: 14px; font-weight: 700; border: 1px solid #38bab2; border-radius: 4px; line-height: 1.2; } 
.topCompany .rclist .item .cert_wrap .detailBtn:hover { color: #fff; background: #38bab2; } 
.topCompany .rclist .item .cert_wrap .detailBtn.btnStyle02 { background: #38bab2; color: #fff; } 
.topCompany .rclist .item .cert_wrap .detailBtn.btnStyle02:hover { background: #fff; color: #38bab2; } 
.topCompany .rclist > div.item + div.item { margin-top: 20px; } 

.topCompany .rclist .topHonor { margin-bottom: 10px; } 
.topCompany .rclist .topHonor span { display: inline-block; width: 70px; height: 70px; padding: 6px; font-size: 10px; border-radius: 50%; background: #e8e8ed; box-sizing: border-box; } 
.topCompany .rclist .topHonor span::before { content: ''; display: block; height: 29px; margin: 0 auto 2px; } 
.topCompany .rclist .topHonor span:nth-child(1)::before { width: 21px; background: url(../images/topCompany/honor_icon01.png) no-repeat; } 
.topCompany .rclist .topHonor span:nth-child(2)::before { width: 25px; background: url(../images/topCompany/honor_icon02.png) no-repeat; } 

.topCompany .pagination > li { margin: 0 10px; } 
.topCompany .paging { margin: 24px 0; text-align: center; } 
.topCompany .paging a { display: inline-block; color: #000; padding: 4px; } 
.topCompany .paging a + a { margin-left: 24px; } 
.topCompany .paging a.current { font-weight: 700; border-bottom: 2px solid #000; } 
.topCompany .mpaging { display: none; } 

.topCompany .cont02 .tabWrap { margin-bottom: 100px; } 
.topCompany .cont02 .tabList { display: flex; margin: 0 240px; justify-content: space-between; align-items: center; } 
.topCompany .cont02 .tabList li a { display: block; color: #fff; font-size: 28px; text-align: center; } 
.topCompany .cont02 .tabList li.active a { color: #003281; } 
.topCompany .cont02 .tabList li a span { display: block; width: 200px; height: 200px; margin: 0 auto 20px; border-radius: 50%; border: 1px solid #ddd; box-sizing: border-box; } 
.topCompany .cont02 .tabList li.tab_0 span { background: url(../images/topCompany/list_icon01.png) no-repeat center #fff } 
.topCompany .cont02 .tabList li.tab_1 span { background: url(../images/topCompany/list_icon02.png) no-repeat center #fff } 
.topCompany .cont02 .tabList li.tab_2 span { background: url(../images/topCompany/list_icon03.png) no-repeat center #fff } 

.topCompany .cont02 .tabList li.active.tab_0 span { background: url(../images/topCompany/list_icon01_on.png) no-repeat center #003281; } 
.topCompany .cont02 .tabList li.active.tab_1 span { background: url(../images/topCompany/list_icon02_on.png) no-repeat center #003281; } 
.topCompany .cont02 .tabList li.active.tab_2 span { background: url(../images/topCompany/list_icon03_on.png) no-repeat center #003281; } 

.topCompany .cont04 .innerSection { padding: 70px 10px 50px;}
.topCompany .cont04 .rclist { margin-bottom: 30px; } 
.topCompany .companytWrap { position: relative; padding: 0 90px; } 
.topCompany .companytWrap .swiper-button-prev::after,
.topCompany .companytWrap .swiper-button-next::after { content: none; } 
.topCompany .companytWrap .swiper-button-prev { width: 64px; height: 140px; background: url(../images/topCompany/prev_btn.png) no-repeat; background-size: contain; left: 0; top: 44%; } 
.topCompany .companytWrap .swiper-button-next { width: 64px; height: 140px; background: url(../images/topCompany/next_btn.png) no-repeat; background-size: contain; left: initial !important; right: 0; top: 44%; } 




.topCompany .cont05 { position: relative; padding: 50px 0 290px; background: #fff; } 
.topCompany .evGuide .titWrap { margin-bottom: 50px; text-align: center; } 
.topCompany .evGuide .titWrap strong { display: block; margin-bottom: 20px; color: #000; font-size: 36px; font-weight: 600; word-break: keep-all; } 
.topCompany .evGuide .titWrap p { color: #000; font-size: 26px; word-break: keep-all; } 
.topCompany .evGuide .guideSlide { padding: 20px 10px 50px; background: #d4ece9; } 
.topCompany .evGuide ul { display: flex; flex-wrap: wrap; justify-content: center; max-width: 1260px; margin: 0 auto; text-align: center; } 
.topCompany .evGuide li { width: calc(100% / 5 - 20px); margin-top: 30px; } 
.topCompany .evGuide li a { color: #000; font-size: 22px; } 
.topCompany .evGuide li a:hover::before { border: 3px solid #00aef0; } 
.topCompany .evGuide li a::before { display: block; content: ''; width: 186px; height: 130px; margin: 0 auto 10px auto; border-radius: 20px; background-color: #fff; background-position: center center; background-repeat: no-repeat; background-size: auto; box-sizing: border-box; } 
.topCompany .evGuide li a.item01::before { background-image: url(../images/jobIndustry/event_icon_item01.png); } 
.topCompany .evGuide li a.item02::before { background-image: url(../images/jobIndustry/event_icon_item02.png); } 
.topCompany .evGuide li a.item03::before { background-image: url(../images/jobIndustry/event_icon_item03.png); } 
.topCompany .evGuide li a.item04::before { background-image: url(../images/jobIndustry/event_icon_item04.png); } 
.topCompany .evGuide li a.item05::before { background-image: url(../images/jobIndustry/event_icon_item05.png); } 
.topCompany .evGuide li a.item06::before { background-image: url(../images/jobIndustry/event_icon_item06.png); } 
.topCompany .evGuide li a.item07::before { background-image: url(../images/jobIndustry/event_icon_item07.png); } 
.topCompany .evGuide li a.item08::before { background-image: url(../images/jobIndustry/event_icon_item08.png); } 
.topCompany .evGuide li a.item09::before { background-image: url(../images/jobIndustry/event_icon_item09.png); } 
.topCompany .evGuide .guideSlide .swiper-pagination { display: none; } 

.topCompany .cont06 { position: relative; padding: 100px 0 30px; background: #e3f1f4; } 
.topCompany .evFooter .titWrap { width: 100%; position: absolute; top: -85px; left: 50%; transform: translateX(-50%); text-align: center; } 
.topCompany .evFooter .titWrap p { display: inline-block; position: relative; padding: 34px 54px; background: #00aef0; color: #fff; font-size: 30px; border-radius: 80px; word-break: keep-all; } 
.topCompany .evFooter .titWrap p::after { content: ''; width: 433px; height: 136px; position: absolute; top: -112px; left: 50%; transform: translateX(-50%); background: url(../images/jobIndustry/event_cont06_img01.png) no-repeat; background-size: cover; } 
.topCompany .evFooter .titWrap p::before { content: ''; position: absolute; left: 0; bottom: -6px; border-top: 34px solid #00aef0; border-left: 16px solid transparent; border-right: 16px solid transparent; border-bottom: 0 solid transparent; transform: rotate(45deg); } 
.topCompany .evFooter .txtWrap p { color: #003281; font-size: 32px; text-align: center; word-break: keep-all; } 
.topCompany .evFooter .txtWrap p::after { content: ''; display: inline-block; width: 139px; height: 43px; margin-left: 10px; background: url(../images/jobIndustry/event_cont06_img02.png) no-repeat; background-size: cover; vertical-align: bottom; } 
.topCompany .evFooter .txtWrap strong.mint { color: #3da8a2; } 





@media all and (max-width: 640px) { 
 
 .topCompany .paging { display: none; } 
 .topCompany .mpaging { display: block; color: #000; text-align: center; } 
 .topCompany .mpaging a { display: inline-block; margin: 0 20px; background-color: #003281; color: #fff; padding: 4px 16px; border-radius: 4px; } 
 .topCompany .mpaging span { font-weight: 700; } 
 }